extends ../../layouts/default

include ../../mixins/post

block content
	.container_12.page_content_sidebar_right.clearfix
		.mod_container.grid_12.omega.clearfix
			.row_inner.clearfix
				.grid_6.mod_feature.grid_border.grid_border_l0.alpha
					.feature.text_center
						span.order 01
						.feature_img_block
							img.img_feature(src='images/features/ps_normal.png', alt='')
							.feature_img_second
								img.img_feature_hover(src='images/features/hover/ps_normal.png', alt='')
						.feature_content
							.feature_subheading Over 25												
							h2 Fully Layered PSDs
							p
								| Integer dictum in metus at consequat. Vivamus nisl sapien, tincidunt non neque fermentum,
								| pretium cursus elit vestibulum augue.
				.grid_6.mod_feature.grid_border.omega
					.feature.text_center
						span.order 02
						.feature_img_block
							img.img_feature(src='images/features/T_normal.png', alt='')
							.feature_img_second
								img.img_feature_hover(src='images/features/hover/T_normal.png', alt='')
						.feature_content
							.feature_subheading Customizable
							h2 Super easy to edit
							p
								| Integer dictum in metus at consequat. Vivamus nisl sapien, tincidunt non neque fermentum,
								| pretium cursus elit vestibulum augue.
	.clear
	