extends ../layouts/default

block title
	h1=data.page.title
block content
	.row_inner.posts_grid.clearfix
		.pg_col_1
			.post_content
			p!=data.page.content
			</br>
			if data.page.file.exists
				a(href=data.page.file.url) Descargar
