mixin meetup(meetup, mode)
	.grid_7.clearfix
		img.aligncenter(src=meetup._.cover.fit(400), alt='')
	.grid_5.showcase_info_text.clearfix
		a(href="eventos/"+meetup.slug)
			h2.showcase_heading=meetup.title
		div!=meetup.content
		p=meetup._.date.format('MMMM D, YYYY')
	.clear