mixin organisations(org)
	.org.row
		.col-sm-3.col-md-2.text-center
			if org.logo.exists
				if org.website
					a(href=org.website, target='_blank').org__logo
						img(src=org._.logo.limit(120,120), alt=org.name)
				else
					span.org__logo
						img(src=org._.logo.limit(120,120), alt=org.name)
		.col-sm-9.col-md-8
			h2.org__heading
				if org.website
					a(href=org.website, target='_blank')= org.name
				else
					= org.name
			if org.location.serialised
				h4.org__location
					span.org__location-icon.entypo.entypo-location
					span.org__location-address=org.location.serialised
			if org.description.html
				!= org.description.html
			if org.website
				h5: a(href=org.website, target='_blank')= org.website.replace('http://', '')
		if org.members && org.members.length
			.col-sm-9.col-sm-offset-3.col-md-2.col-md-offset-0
				hr.line-dashed.visible-xs.visible-sm
				h6.text-muted.mt-0 Members in #{org.name}
				ul.list-unstyled
					each member in org.members
						li=member.name.full