mixin post(post)
	.row_inner.posts_grid.clearfix
		.pg_col_1
			.post_date #{post._.publishedDate.format('MMMM D, YYYY')}
			h2
				a(href='/blog/post/'+ post.slug)=post.title
			if post.image.exists
				img.post_thumbnail(src=post.image.url, alt=post.title)
			.post_content
				p!= post.content.brief
					.meta_bottom
						if post.author
							| por 
							a(href='#')=post.author.name.full


			

