include ../mixins/flash-messages
include ../mixins/advertisement

doctype html
html(lang='en')
	head
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(charset='utf-8')
		//meta(name='description', content='Another template designed by Smartik. Change this with your description, please.')
		//meta(name='keywords', content='Smartik, HTML5, CSS3 Wordpress, Template, Design, Development, Responsive')
		//link(rel='icon', type='image/png', href='favicon.png')
		link(rel='apple-touch-icon', href='touch-icon.png')
		title= title || 'Asociacion Argentina de Veterinaria Equina'
		//- == BEGIN STYLES ==
		link(rel='stylesheet', href='/styles/reset.css')
		link(rel='stylesheet', href='/styles/grid.css')
		link(rel='stylesheet', href='/styles/styles.css')
		link(rel='stylesheet', href='/styles/responsive.css')
		link(rel='stylesheet', href='/styles/animate-in.css')
		link(rel='stylesheet', href='/styles/magnific-popup.css')
		//if IE 7
			link(rel='stylesheet', href='/styles/ie7.css')
		//if IE 8
			link(rel='stylesheet', href='/styles/ie8.css')
		//if IE 9
			link(rel='stylesheet', href='/styles/ie9.css')
		//
			== FONTS ==
		link(href='http://fonts.googleapis.com/css?family=Ubuntu:400,500', rel='stylesheet', type='text/css')
		//
		//- == BEGIN SCRIPTS ==
		script(type='text/javascript', src='/js/lib/jquery/jquery-2.1.0.min.js')
		//JQuery Library
		script(type='text/javascript', src='/js/lib/theme/scripts-top.js')
		//General scripts header
		//if IE
			script(type='text/javascript', src='/js/lib/theme/html5.js')
	body
		section#main_template
			//
				++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
				HEADER SECTION
				++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
			section.container_header.clearfix
				//
					Header elements 
				.container_12.header_row_top.clearfix
					.grid_4.mod_logo.clearfix
						.inner
							a(href='#')
								img(src='/images/logo.png', alt='')
					.grid_8.clearfix.padding_tb_50
						.inner
							h1(style="color:white") Asociacion Argentina de Veterinaria Equina
					//- .grid_5.mod_search.clearfix
					//- 	.inner
					//- .grid_3.mod_user_meta.clearfix
						//- .inner
						//- 	a.button.dark.large(href='#') Entrar
						//- 	a.button.blue.large(href='#') Registrarse
						//- .v_divider_l
				.clear
				.mod_main_menu.clearfix
					.container_12.clearfix
						.grid_12.clearfix
							ul#main_menu.main_menu.clearfix
								li.current_page_parent
									a(href='/') Home
								li
									a(href='/institucional') Institucional
									ul
										li
											a(href='/socios') Asociarse
								
								li
									a(href='/revistas') Revistas y Videos
									ul
										li
											a(href='/revistas') Revistas
										li
											a(href='/videos') Videos
								li
									a(href='/eventos') Eventos
								li
									a(href='/patrocinadores') Socios institucionales
								li
									a(href='/links') Links
			//- =JSON.stringify(slider.pictures)
			section.container_row.clearfix
				.container_12.clearfix
					.grid_12.clearfix
						#homepage_slider1.smk_slider.main_slider
							.smk_cs_prev
							.smk_cs_next
							.smk_cs_slides
								each item in slider.pictures
									.smk_cs_slide
										img.aligncenter.smk_caption(src=item.fit(800,300), data-anim='fadeInDown', data-time='300', alt='')
					.clear
			section.container_row.page_title.clearfix
				.container_12.clearfix
					.grid_12.clearfix
						block title
					.clear
			section.container_row.clearfix
				.container_12.page_content_sidebar_right.clearfix
					.mod_container.grid_12.alpha.clearfix
						block content
					.mod_sidebar.clearfix
						.widget.widget_testimonials
							.mod_testimonials
								if sponsors.length
									.clients_logos_block
										each sponsor in sponsors
											if sponsor.url
												.client_logo
													a(href=sponsor.url, target='_blank')
														img(src=sponsor._.logo.limit(120,120), alt=sponsor.name)
											else
												.client_logo
													img(src=sponsor._.logo.limit(120,120), alt=sponsor.name)
			section.container_footer.clearfix
				.inner
					.container_12.clearfix
						.grid_12.footer_part.clearfix
							.social_footer
								a.twitter(href='#')
								a.facebook(href='#')
								a.google-plus(href='#')

		script(type='text/javascript', src='/js/lib/theme/smk-slider.js')
		script(type='text/javascript', src='/js/lib/theme/jquery.magnific-popup.min.js')
		script(type='text/javascript', src='/js/lib/theme/scripts-bottom.js')
