include ../mixins/flash-messages

doctype html
html
	head
		if env == 'production' && chartbeat_property && chartbeat_domain
			script.
				var _sf_startpt=(new Date()).getTime()
		
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
		
		title= title || 'SydJS'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(href="/styles/session.min.css", rel="stylesheet")
		
		block css
	body: #session-wrapper
			
		
		//- HEADER
		header(role='banner').main-header
			a(href='/', title='Back to Home').navbar-logo
				img(src='/images/logo.svg', alt='SydJS logo', width=130, height=119)
		
		
		//- BODY
		.main-body
			
			block intro
			
			+flash-messages(messages)
			
			block content
		
		
		//- FOOTER
		//- #sydjs-footer: .container
		//- 	p Copyright &copy; 2013 SydJS. Powered by <a href='http://keystonejs.com'>KeystoneJS</a>.
		//- 	p If you run a meetup, please feel free to clone our site and make your own!
		
	//- scripts
	script(src='/js/lib/jquery/jquery-1.10.2.min.js')
	//- script(src='/js/lib/bootstrap/collapse.js')
	//- script(src='/js/lib/bootstrap/dropdown.js')
	
	block js
	
	if env == 'production' && ga_property && ga_domain
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			
			ga('create', '#{ga_property}', '#{ga_domain}');
			ga('send', 'pageview');
	
	if env == 'production' && chartbeat_property && chartbeat_domain
		script.
			var _sf_async_config = { uid: #{chartbeat_property}, domain: '#{chartbeat_domain}', useCanonical: true };
			(function() {
				function loadChartbeat() {
					window._sf_endpt = (new Date()).getTime();
					var e = document.createElement('script');
					e.setAttribute('language', 'javascript');
					e.setAttribute('type', 'text/javascript');
					e.setAttribute('src','//static.chartbeat.com/js/chartbeat.js');
					document.body.appendChild(e);
				};
				var oldonload = window.onload;
				window.onload = (typeof window.onload != 'function') ?
				loadChartbeat : function() { oldonload(); loadChartbeat(); };
			})();
