/*
	960 Grid System ~ Core CSS.
	Learn more ~ http://960.gs/

	Licensed under GPL and MIT.
*//* =Containers
--------------------------------------------------------------------------------*/
.container_12{width:96%;padding-left:2%;padding-right:2%;}

/* =Grid >> Global
--------------------------------------------------------------------------------*/
.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12{
	display:inline;
	float:left;
	padding-left:1%;
	padding-right:1%;
}

/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
--------------------------------------------------------------------------------*/
.alpha{padding-left:0;}
.omega{padding-right:0;}

/* =Grid >> 12 Columns
--------------------------------------------------------------------------------*/
.grid_1{width:6.333%;}
.grid_2{width:14.666%;}
.grid_3{width:23%;}
.grid_4{width:31.333%;}
.grid_5{width:39.666%;}
.grid_6{width:48%;}
.grid_7{width:56.333%;}
.grid_8{width:64.666%;}
.grid_9{width:73%;}
.grid_10{width:81.333%;}
.grid_11{width:89.666%;}
.grid_12{width:98%;}

/* Increase the width with 1% if we use the class alpha or omega */
.grid_1.alpha, .grid_1.omega{width:7.333%;}
.grid_2.alpha, .grid_2.omega{width:15.666%;}
.grid_3.alpha, .grid_3.omega{width:24%;}
.grid_4.alpha, .grid_4.omega{width:32.333%;}
.grid_5.alpha, .grid_5.omega{width:40.666%;}
.grid_6.alpha, .grid_6.omega{width:49%;}
.grid_7.alpha, .grid_7.omega{width:57.333%;}
.grid_8.alpha, .grid_8.omega{width:65.666%;}
.grid_9.alpha, .grid_9.omega{width:74%;}
.grid_10.alpha, .grid_10.omega{width:82.333%;}
.grid_11.alpha, .grid_11.omega{width:90.666%;}
.grid_12.alpha, .grid_12.omega{width:99%;}

/* Increase the width with 2% if we use both classes alpha or omega to the same element */
.grid_1.alpha.omega{width:8.333%;}
.grid_2.alpha.omega{width:16.666%;}
.grid_3.alpha.omega{width:25%;}
.grid_4.alpha.omega{width:33.333%;}
.grid_5.alpha.omega{width:41.666%;}
.grid_6.alpha.omega{width:50%;}
.grid_7.alpha.omega{width:59.333%;}
.grid_8.alpha.omega{width:66.666%;}
.grid_9.alpha.omega{width:75%;}
.grid_10.alpha.omega{width:83.333%;}
.grid_11.alpha.omega{width:91.666%;}
.grid_12.alpha.omega{width:100%;}

/* =Clear Floated Elements
--------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
html body * span.clear,
html body * div.clear,
html body * li.clear,
html body * dd.clear{
	background:none;
	border:0;
	clear:both;
	display:block;
	float:none;
	font-size:0;
	list-style:none;
	margin:0;
	padding:0;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0;
}
.clear780{display:none;}
/* http://www.positioniseverything.net/easyclearing.html */
.clearfix:after{clear:both;content:'.';display:block;visibility:hidden;height:0;}
.clearfix{display:inline-block;}
* html .clearfix{height:1%;}
.clearfix{display:block;}