@media screen and (max-width: 768px) {

	.mod_logo img{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.container_header .mod_search .inner .search-form .search-field{
		display: block;
		width: 80%;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	.container_header .mod_search .inner {
		padding: 10px 0;
	}
	.container_header .mod_user_meta {
		border-left: 0;
		text-align: center;
	}
	.smk_slider.main_slider .smk_cs_slides .smk_cs_slide {
		text-align: center;
	}

	.grid_border {
		border-left: 0;
	}
	.posts_grid .pg_col_2,
	.posts_grid .pg_col_3,
	.posts_grid .pg_col_4 {
		border-right: 0;
	}

	.posts_grid .pg_col_2 .post_thumbnail,
	.posts_grid .pg_col_3 .post_thumbnail,
	.posts_grid .pg_col_4 .post_thumbnail {
		float: left;
		max-width: 40%;
		margin-right: 15px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.post_comments .comment {
		padding-left: 40px;
	}
	.post_comments .comment img.avatar{
		position: absolute;
		left: 0;
		max-width: 30px;
		height: auto;
	}
	.contactpage_content .contact_form .contact_input_container,
	.contactpage_content .verification_block{
		display: block;
		float: none;
		width: 100%;
		margin-bottom: 20px;
	}

	/*---------------------------------------------------------
	************************** GRID ***************************
	---------------------------------------------------------*/
	.container_12 .grid_1,
	.container_12 .grid_2,
	.container_12 .grid_3,
	.container_12 .grid_4,
	.container_12 .grid_5,
	.container_12 .grid_6,
	.container_12 .grid_7,
	.container_12 .grid_8,
	.container_12 .grid_9,
	.container_12 .grid_10,
	.container_12 .grid_11,
	.container_12 .grid_12,

	.container_12 .grid_1.alpha, .container_12 .grid_1.omega,
	.container_12 .grid_2.alpha, .container_12 .grid_2.omega,
	.container_12 .grid_3.alpha, .container_12 .grid_3.omega,
	.container_12 .grid_4.alpha, .container_12 .grid_4.omega,
	.container_12 .grid_5.alpha, .container_12 .grid_5.omega,
	.container_12 .grid_6.alpha, .container_12 .grid_6.omega,
	.container_12 .grid_7.alpha, .container_12 .grid_7.omega,
	.container_12 .grid_8.alpha, .container_12 .grid_8.omega,
	.container_12 .grid_9.alpha, .container_12 .grid_9.omega,
	.container_12 .grid_10.alpha, .container_12 .grid_10.omega,
	.container_12 .grid_11.alpha, .container_12 .grid_11.omega,
	.container_12 .grid_12.alpha, .container_12 .grid_12.omega,

	.container_12 .grid_1.alpha.omega,
	.container_12 .grid_2.alpha.omega,
	.container_12 .grid_3.alpha.omega,
	.container_12 .grid_4.alpha.omega,
	.container_12 .grid_5.alpha.omega,
	.container_12 .grid_6.alpha.omega,
	.container_12 .grid_7.alpha.omega,
	.container_12 .grid_8.alpha.omega,
	.container_12 .grid_9.alpha.omega,
	.container_12 .grid_10.alpha.omega,
	.container_12 .grid_11.alpha.omega,
	.container_12 .grid_12.alpha.omega
	{
		padding-left: 1%;
		padding-right: 1%;
		width: 98%;
	}
	.alpha,
	.omega {
		padding-left: 0;
		padding-right: 0;
	}
	.align_center,
	.align_right {
		text-align: left;
	}
}

@media screen and (max-width: 320px) {
	.posts_grid .pg_col_2 .post_thumbnail,
	.posts_grid .pg_col_3 .post_thumbnail,
	.posts_grid .pg_col_4 .post_thumbnail {
		float: none;
		max-width: 100%;
		margin-right: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
}
@media screen and (max-width: 960px) {
	.container_header .main_menu li a{
		padding: 15px 15px;
	}
	.smk_slider.main_slider .smk_cs_next{
		right: 0;
	}
	.smk_slider.main_slider .smk_cs_prev{
		left: 0;
	}
}


/* 600px */
@media screen and (max-width: 600px) {
	.js .main_menu { display: none; }
	.js .selectnav { display: block; }
	
	.page_content_sidebar_right {
		padding-right: 0;
	}
	.page_content_sidebar_left {
		padding-left: 0;
	}
	.page_content_sidebar_right .mod_sidebar,
	.page_content_sidebar_left .mod_sidebar {
		margin-left: auto;
		margin-right: auto;
		border-left: 0;
		border-right: 0;
		position: relative;
		display: block;
		float: none;
		width: 100%;
		z-index: auto;
	}
	.widget.widget_posts .wgt_posts_3col_grid .post_li {
		position: relative;
		display: inline-block;
		float: left;
		width: auto;
		margin: 1%;
	}
	.widget.widget_accordion .post_in,
	.widget.widget_accordion .comment_in {
		padding-left: 35px;
	}
	.widget.widget_accordion .post_in img,
	.widget.widget_accordion .comment_in img {
		top: 3px;
		max-width: 27px;
	}
}