html{
	margin: 0; 
	padding: 0;
	/*overflow-x: hidden;*/
}/*make sure to reset*/

body{
	margin: 0;/*reset*/
	padding: 0;/*reset*/
	color: #7B7E85;/*general text color*/
	font: 13px/1.6 'Ubuntu', Helvetica, Arial, sans-serif;/*general text properties*/
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%; /* Fix for webkit */
}

a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, a:hover {
	text-decoration:none;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #333;
}
a{
	color: #0098E0;
}
a:hover{
	color: #2F9E21;
}

hr{
	border: 0; 
	clear: both; 
	height: 1px;
	max-width: 1005px; 
	margin: 10px auto;
	background: #E0E0E6;
}
strong{
	font-weight: 700;
}

/* 
-----------------------------------------------
Text color 
-----------------------------------------------
*/
.text-red 			{color: #FF0000 !important;}
.text-white 		{color: #FFFFFF !important;}
.text-black 		{color: #000000 !important;}
.text-green 		{color: #008000 !important;}
.text-blue 			{color: #0000FF !important;}
.text-yellow 		{color: #FFFF00 !important;}
.text-orange 		{color: #FFA500 !important;}
.text-purple		{color: #800080 !important;}
.text-cadetblue 	{color: #5F9EA0 !important;}
.text-coral 		{color: #FF7F50 !important;}
.text-lightblue		{color: #6495ED !important;}
.text-darkcyan		{color: #008B8B !important;}
.text-indianred 	{color: #CD5C5C !important;}
.text-olive 		{color: #808000 !important;}
.text-slategray 	{color: #708090 !important;}
.text-tomato 		{color: #FD6347 !important;}
.text-chocolate 	{color: #D2691E !important;}
.text-darkseagreen 	{color: #8FBC8F !important;}

/* 
-----------------------------------------------
Background color 
-----------------------------------------------
*/
.bg_red 		{background: #FF0000 !important;}
.bg_white 		{background: #FFFFFF !important;}
.bg_black 		{background: #000000 !important;}
.bg_green 		{background: #008000 !important;}
.bg_blue 		{background: #0000FF !important;}
.bg_yellow 		{background: #FFFF00 !important;}
.bg_orange 		{background: #FFA500 !important;}
.bg_purple		{background: #800080 !important;}
.bg_cadetblue 	{background: #5F9EA0 !important;}
.bg_coral 		{background: #FF7F50 !important;}
.bg_lightblue	{background: #6495ED !important;}
.bg_darkcyan	{background: #008B8B !important;}
.bg_indianred 	{background: #CD5C5C !important;}
.bg_olive 		{background: #808000 !important;}
.bg_slategray 	{background: #708090 !important;}
.bg_tomato 		{background: #FD6347 !important;}
.bg_chocolate 	{background: #D2691E !important;}
.bg_darkseagreen{background: #8FBC8F !important;}
.bg_lightgray	{background: #F4F4F4 !important;}

/* 
-----------------------------------------------
Padding
-----------------------------------------------
*/
.padding_tb_5 { padding-top: 5px; padding-bottom: 5px; }
.padding_tb_10{ padding-top: 10px; padding-bottom: 10px; }
.padding_tb_15{ padding-top: 15px; padding-bottom: 15px; }
.padding_tb_20{ padding-top: 20px; padding-bottom: 20px; }
.padding_tb_25{ padding-top: 25px; padding-bottom: 25px; }
.padding_tb_30{ padding-top: 30px; padding-bottom: 30px; }
.padding_tb_35{ padding-top: 35px; padding-bottom: 35px; }
.padding_tb_40{ padding-top: 40px; padding-bottom: 40px; }
.padding_tb_45{ padding-top: 45px; padding-bottom: 45px; }
.padding_tb_50{ padding-top: 50px; padding-bottom: 50px; }
.padding_tb_60{ padding-top: 60px; padding-bottom: 60px; }
.padding_tb_70{ padding-top: 70px; padding-bottom: 70px; }
.padding_tb_80{ padding-top: 80px; padding-bottom: 80px; }
.padding_tb_90{ padding-top: 90px; padding-bottom: 90px; }
.padding_tb_100{ padding-top: 100px; padding-bottom: 100px; }

.padding_t_5  { padding-top: 5px;  }
.padding_t_10 { padding-top: 10px; }
.padding_t_15 { padding-top: 15px; }
.padding_t_20 { padding-top: 20px; }
.padding_t_25 { padding-top: 25px; }
.padding_t_30 { padding-top: 30px; }
.padding_t_35 { padding-top: 35px; }
.padding_t_40 { padding-top: 40px; }
.padding_t_45 { padding-top: 45px; }
.padding_t_50 { padding-top: 50px; }
.padding_t_60 { padding-top: 60px; }
.padding_t_70 { padding-top: 70px; }
.padding_t_80 { padding-top: 80px; }
.padding_t_90 { padding-top: 90px; }
.padding_t_100{ padding-top: 100px;}

.padding_b_5  { padding-bottom: 5px;  }
.padding_b_10 { padding-bottom: 10px; }
.padding_b_15 { padding-bottom: 15px; }
.padding_b_20 { padding-bottom: 20px; }
.padding_b_25 { padding-bottom: 25px; }
.padding_b_30 { padding-bottom: 30px; }
.padding_b_35 { padding-bottom: 35px; }
.padding_b_40 { padding-bottom: 40px; }
.padding_b_45 { padding-bottom: 45px; }
.padding_b_50 { padding-bottom: 50px; }
.padding_b_60 { padding-bottom: 60px; }
.padding_b_70 { padding-bottom: 70px; }
.padding_b_80 { padding-bottom: 80px; }
.padding_b_90 { padding-bottom: 90px; }
.padding_b_100{ padding-bottom: 100px;}

/* 
-----------------------------------------------
Global margin
-----------------------------------------------
*/
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
	margin-bottom: 20px;
}

/* 
-----------------------------------------------
General styles
-----------------------------------------------
*/
p {line-height: 1.6em;}
ol{margin-left:35px;}
ul{margin-left:30px;}
strong{font-weight:700;}
em{font-style:italic;}
small { font-size: .9em; }
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong, dfn {font-weight:bold;}
em, dfn {font-style:italic;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.6;}
li ul, li ol {margin:0;}
ul, ol {margin:0 1.5em 1.5em 0;padding-left:1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
caption {background:#eee;padding:4px 10px 4px 5px;}
.text_small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.text_large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}
.uppercase{text-transform: uppercase}

/* 
-----------------------------------------------
Forms
-----------------------------------------------
*/
label {font-weight:bold;}
fieldset {padding:0 1.4em 1.4em 1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;margin-top:-0.2em;margin-bottom:1em;}
fieldset, #IE8#HACK {padding-top:1.4em;}
legend, #IE8#HACK {margin-top:0;margin-bottom:0;}
input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea {background-color:#fff;border:1px solid #bbb;color:#000; padding: 7px; border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;transition: all .5s;-moz-transition: all .5s;-webkit-transition: all .5s;-o-transition: all .5s;}
input[type=text]:focus, input[type=password]:focus, input[type=url]:focus, input[type=email]:focus, input.text:focus, input.title:focus, textarea:focus {border-color:#555; outline: none;}
select {background-color:#fff;padding: 6px 8px;outline: none;border: 1px solid #BBB;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;}
input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea, select {margin:0.5em 0;}
input.text, input.title {width:300px;padding:5px;}
input.title {font-size:1.5em;}
textarea {width:390px;height:250px;padding:5px;font-family: "helvetica", arial, sans-serif;}
form.inline {line-height:3;}
form.inline p {margin-bottom:0;}
.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}

/* 
-----------------------------------------------
Headings
-----------------------------------------------
*/
h1 {
	font-size:27px;
}
h2 {
	font-size:23px;
}
h3 {
	font-size:21px;
}
h4 {
	font-size:17px;
}
h5 {
	font-size:14px;
}
h6 {
	font-size:12px;
}

h1, h2, h3, h4 {
	font-weight:400;
}
h5, h6 {
	font-weight:700;
	text-transform: uppercase;
}
h1, h2, h3, h4, h5, h6 {
	margin-top:15px;
	margin-bottom: 10px;
	line-height: 1;
	color: #444;
}
h1 {
	margin-top: 0;
}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
	margin:0;
}

/* 
-----------------------------------------------
Alignment
-----------------------------------------------
*/
/* Divs and images
-------------------*/
 .alignnone {
	margin: 5px 20px 20px 0;
}
.aligncenter, div.aligncenter {
	display:block;
	margin: 5px auto 5px auto;
}
.alignright {
	float:right;
	margin: 5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin: 5px 20px 20px 0;
}
img.alignright,
a img.alignright {
	float:right;
	margin: 5px 0 10px 15px;
}
img.alignnone,
a img.alignnone {
	float: none;
	margin: 5px 10px 10px 0;
}
img.alignleft,
a img.alignleft {
	float:left;
	margin: 5px 15px 10px 0;
}
img.aligncenter,
a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.img_circle{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

/* Video
-----------------*/
.container_video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	margin-bottom: 20px;
	height: 0;
}
.container_video iframe,
.container_video object,
.container_video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
video {
  width: 100%    !important;
  height: auto   !important;
}

/* Text
-----------------*/
.textleft, 
.text_left{
	text-align:left;
}
.textcenter, 
.text_center{
	text-align: center;
}
.textright 
.text_right{
	text-align: right;
}

/* Block
-----------------*/
.left {
	float:left !important;
}
.right {
	float:right !important;
}
.center {
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
}
img.center {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* 
-----------------------------------------------
Lists
-----------------------------------------------
*/
ul.list_map{
	list-style: none;
	padding: 0 0 0 30px;
	margin: 0 0 20px 0;
	background: url(../images/list/map.png) no-repeat left 2px;
}
ul.list_phone{
	list-style: none;
	padding: 0 0 0 30px;
	margin: 0 0 20px 0;
	background: url(../images/list/phone.png) no-repeat left 2px;
}

ul.list_print{
	list-style: none;
	padding: 0 0 0 30px;
	margin: 0 0 20px 0;
	background: url(../images/list/print.png) no-repeat left 2px;
}

/* 
-----------------------------------------------
Layout 
-----------------------------------------------
*/
.container_12,
.container_16{
	display: block;
	width: auto;
	max-width: 1005px;
	margin: 0 auto;
}
.inner{
	margin: 0;
	padding: 0;
}

/* Select nav style */
.selectnav { 
	display: none;
	width: 220px;
	margin: 10px auto;
	border: 1px solid #2A2D34;
}


/* 
-----------------------------------------------
Header 
-----------------------------------------------
*/
.container_header{
	padding: 0;
	margin: 0;
	background: #383D46;
	color: #fff;
}

/* Mod Logo
------------------------------------------------*/
.container_header .mod_logo{
	position: relative;
}
.container_header .mod_logo .inner{
	padding: 10px 0 8px;
}
/* Mod search
------------------------------------------------*/
.container_header .mod_search{
	position: relative;
}
.container_header .mod_search .inner{
	padding:30px 0;
}
.container_header .mod_search .inner .search-form{
	margin-right: 20px;
}
.container_header .mod_search .inner .search-form .search-field{
	padding: 10px 5px 10px 38px;
	width: 80%;
	border-radius: 3px;
	background: url(../images/search_icon.png) no-repeat left center #464C58;
	border: 1px solid #32373F;
	color: #B3B7BF;
	outline: none;
	float: right;
}
.container_header .mod_search .inner .search-form .search-field::-webkit-input-placeholder {
	color: #6D7179;
}

/* Mod User meta
------------------------------------------------*/
.container_header .mod_user_meta{
	position: relative;
	border-left: 1px solid #464C58;
	margin-left: -1px;
}
.container_header .mod_user_meta .inner{
	padding: 28px 0;
	margin-left: 10px;
}
.container_header .mod_user_meta .inner .button{
	border: 1px solid #2E323A;
	margin-left: 10px;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
	-ms-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
	-o-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
}

/* Mod Main menu
------------------------------------------------*/
.container_header .mod_main_menu{
	position: relative;
	border-top: 1px solid #464C58;
	z-index: 900;
}
.container_header .mod_main_menu .inner{
	padding: 15px 0;
}

.container_header .main_menu,
.container_header .main_menu ul{
	margin: 0;
	padding: 0;
}

/*List*/
.container_header .main_menu,
.container_header .main_menu li{
	margin: 0;
	padding: 0;
	list-style: none;
}
.container_header .main_menu li{
	position: relative;
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0;
}

/*Level 0*/
.container_header .main_menu li a{
	position: relative;
	display: block;
	padding: 15px 42px;
	border-top: 1px solid transparent;
	border-left: 1px solid #464C58;
	border-right: 1px solid #464C58;
	margin-left: -1px;
	margin-top: -1px;
	color: #9197A2;
	font-size: 13px;
	text-decoration: none;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	z-index: 1;
}
.container_header .main_menu li a:hover,
.container_header .main_menu li a.hov,
.container_header .main_menu li.current_page_parent > a {
	border-top: 1px solid #0098E0;
	color: #fff;
	z-index: 2;
}

/*Level 1*/
.container_header .main_menu li ul{
	display: block;
	position: absolute;
	z-index: 5000;
	top: 100%;
	left: -1px;
	width: auto;
	min-width: 200px;
	max-width: 260px;
	background: #fff;
	border: 1px solid #A89A92;
	border-top: 0;
	border-radius: 0 0 3px 3px;
	visibility: hidden;
	opacity: 0; /* Best browsers */

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.container_header .main_menu li:hover > ul{
	visibility: visible;
	opacity: 1; /* Best browsers */
}

.container_header .main_menu li ul li{
	position: relative;
	display: block;
	float: none;
}
.container_header .main_menu li ul li a{
	position: relative;
	display: block;
	padding: 10px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid transparent;
	border-left: 0;
	border-right: 0;
	margin: 0 0 -1px 0;
	color: #646A75;
	background: transparent;
	font-size: 12px;
	text-decoration: none;
	-webkit-transition: all 0.15s;
	-moz-transition: all 0.15s;
	-ms-transition: all 0.15s;
	-o-transition: all 0.15s;
	transition: all 0.15s;
}
.container_header .main_menu li ul li a:hover,
.container_header .main_menu li ul li a.hov,
.container_header .main_menu li ul li.current_page_item > a{
	position: relative;
	display: block;
	background: #1FB7FF;
	border-top: 1px solid #2C84BC;
	border-bottom: 1px solid #2C84BC;
	color: #fff;
}
.container_header .main_menu li ul li:first-of-type > a{
	border-top: 1px solid transparent;
}

.container_header .main_menu li ul li:last-of-type > a{
	border-radius: 0 0 3px 3px;
}

/*Level 3*/
.container_header .main_menu li ul li ul,
.container_header .main_menu li ul li ul li ul{
	top: 0;
	left: 100%;
	margin-left: 0;
	border: 1px solid #A89A92;
	border-radius: 3px;
	visibility: hidden;
	opacity: 0; /* Best browsers */

	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	-ms-transform: translateY(-20px);
	-o-transform: translateY(-20px);
	transform: translateY(-20px);
}
.container_header .main_menu li ul li:hover > ul,
.container_header .main_menu li ul li ul li:hover > ul{	
	visibility: visible;
	opacity: 1; /* Best browsers */
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}

/* 
-----------------------------------------------
Row
-----------------------------------------------
*/
.container_row{
	display: block;
	position: relative;
	overflow: hidden;
}
.container_row:after{clear:both;content:'.';display:block;visibility:hidden;height:0;}

.container_row.border_bottom{
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #E0E0E6;
}
.container_row.border_bottom_0{
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: 1px solid #E0E0E6;
}
.container_row.noborder_bottom{
	border-bottom: 0;
}
.container_row.nomargin_bottom{
	padding-bottom: 0;
	margin-bottom: 0;
}
.container_row.nomargin_top{
	padding-top: 0;
	margin-top: 0;
}

/* 
-----------------------------------------------
Page Title
-----------------------------------------------
*/
.page_title{
	background: #0098E0;
	padding: 23px 0 25px;
	margin-bottom: 0;
	color: #fff;
}
.page_title h1{
	padding: 0;
	margin: 0;
	font-size: 22px;
	color: #fff;
}

/* 
-----------------------------------------------
Call to action
-----------------------------------------------
*/
.bold_title{
	font-size: 21px;
	font-weight: 700;
	text-transform: uppercase;
	color: #333;
	margin: 0;
}
.bold_title_sub{
	font-size: 15px;
	color: #555;
}
.container_row .mod_call_to{
	background: #383D46;
	padding: 30px 0;
}
.container_row .mod_call_to .bold_title{
	color: #fff;
}
.container_row .mod_call_to .bold_title_sub{
	color: #7C828C;
}
.container_row .mod_call_to .newsletter_form{
	margin: 8px 0;
	width: 100%;
}
.container_row .mod_call_to .newsletter_input{
	display: inline-block;
	float: right;
	padding: 9px;
	margin: 5px 0 0 0;
	width: 70%;
	background: #464C58;
	border: 1px solid #32373F;
	border-radius: 3px;
	color: #9197A2;
	outline: none;
}
.container_row .mod_call_to .newsletter_submit{
	display: inline-block;
	float: right;
	border: 1px solid #30343C;	
	padding: 9px 20px;
}
.container_row .mod_call_to.call_style1{
	padding: 40px 0;
	background: #0098E0;
}
.container_row .mod_call_to.call_style1 .bold_title_sub{
	color: #A3D0F0;
}

.container_row .mod_call_to.white{
	background: #fff;
	padding: 30px 0;
}
.container_row .mod_call_to.padding_tb_15{
	padding: 15px 0;
}
.container_row .mod_call_to.padding_tb_10{
	padding: 10px 0;
}
.container_row .mod_call_to.padding_tb_20{
	padding: 20px 0;
}
/* 
-----------------------------------------------
Clients
-----------------------------------------------
*/
.container_row .mod_clients{
	background: #0098E0;
	padding: 20px 0;
	border-top: 1px solid #2C84BC;
}
.container_row .mod_clients .bold_title{
	margin-top: 30px;
	font-size: 23px;
	color: #fff;
	text-align: center;
}
.container_row .mod_clients .bold_title_sub{
	color: #85C2EC;
	text-align: center;
}

.container_row .mod_clients .client_logo{
	position: relative;
	display: inline-block;
	float: left;
	width: auto;
	min-height: 50px;
	padding: 0 20px;
	margin: 30px 0;
	opacity: 0.4; /* Best browsers */

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.container_row .mod_clients .client_logo:hover{
	opacity: 1; /* Best browsers */
}

.container_row .mod_clients .client_logo:before{
	content: "";
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -10px;
	display: block;
	height: 20px;
	width: 1px;
	background: #0B69A9;
}
.container_row .mod_clients .client_logo:last-of-type:before{
	width: 0;
}


/* 
-----------------------------------------------
Mod container
-----------------------------------------------
*/
.container_row .mod_container{
	position: relative;
	z-index: 5;
}


/* 
-----------------------------------------------
Sidebar
-----------------------------------------------
*/
.mod_sidebar
{
	position: relative;
	z-index: 10;
	height: 100%;
	padding-bottom: 99999px;
	margin-bottom: -99999px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* 
-----------------------------------------------
Page content constructor
-----------------------------------------------
*/
.page_content_sidebar_right,
.page_content_sidebar_left{
	position: relative;
	max-width: 1056px;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.page_content_sidebar_right{
	padding-right: 270px;
}
.page_content_sidebar_left{
	padding-left: 270px;
}

.page_content_sidebar_right .mod_sidebar,
.page_content_sidebar_left .mod_sidebar{
	position: relative;
	display: inline-block;
	float: left;
	width: 249px;
}
.page_content_sidebar_right .mod_sidebar{
	margin-right: -250px;
	border-left: 1px solid #E0E0E6;
}

.page_content_sidebar_left .mod_sidebar{
	margin-left: -250px;
	border-right: 1px solid #E0E0E6;
}

.page_content_sidebar_right .mod_container{
	padding-right: 0;
}


/* 
-----------------------------------------------
Row inner
-----------------------------------------------
*/
.container_row .row_inner{
	position: relative;
	border-bottom: 1px solid #E0E0E6;
	height: 100%;
	overflow: hidden;
	display:block;
}
.container_row .row_inner .container_12{
	position: relative;
	margin: 0 auto;
}
.container_row .row_inner{
	position: relative;
	border-bottom: 1px solid #E0E0E6;
	height: 100%;
}
.container_row .row_inner:after{clear:both;content:'.';display:block;visibility:hidden;height:0;}

.page_content_sidebar_right .mod_container .row_inner{
	padding-right: 2%;
}
.page_content_sidebar_left .mod_container .row_inner{
	padding-left: 2%;
}
/* 
-----------------------------------------------
Grid border
-----------------------------------------------
*/
.grid_border{
	border-left: 1px solid #E0E0E6;
	margin-left: -1px;
}
.grid_border_l0{
	border-left: 0!important;
	margin-left: 0!important;
}
.grid_border_r0{
	border-right: 0!important;
	margin-right: 0!important;
}
.grid_border_b0{
	border-bottom: 0!important;
}



/* 
-----------------------------------------------
Features
-----------------------------------------------
*/
.feature_img_block{
	position: relative;
}

/*CSS3*/
.feature,
.feature .order,
.feature img.img_feature,
.feature img.img_feature_hover,
.feature .feature_subheading
{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.mod_feature{
	position: relative;
	color: #7B7E85;
	height: 100%;
	padding-bottom: 500px;
	margin-bottom: -500px;
}

.feature{
	position: relative;
	padding: 50px 10px 30px;
}

.feature .order{
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 13px;
	color: #ccc;
}

.feature img.img_feature{
	display: block;
	margin: 0 auto 15px auto;
}


.feature .feature_img_second{
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
}
.feature .feature_img_second img.img_feature_hover{
	display: block;
	position: relative;
	top: 0;
	left: -50%;
}

.feature img.img_feature_hover{
	-webkit-transform: translateY(25px);
	-moz-transform: translateY(25px);
	-ms-transform: translateY(25px);
	-o-transform: translateY(25px);
	transform: translateY(25px);
	visibility: hidden;
	opacity: 0; /* Best browsers */
}

.feature .feature_content{
	position: relative;
	z-index: 10;
}
.feature .feature_subheading{
	font-size: 18px;
	color: #999;
}
.feature h2,
.feature h3,
.feature h4{
	font-size: 22px;
	font-weight: 400;
	color: #333;
	margin-top: 0;
	margin-bottom: 5px;
	padding-top: 0;
}
.feature h3{
	font-size: 20px;
}
.feature h4{
	font-size: 18px;
}
.feature.text_center{
	text-align: center;
}
.feature_graph_bg{
	background: url(../images/graph.png) no-repeat right top;
}

.feature:hover img.img_feature{
	-webkit-transform: translateY(-25px);
	-moz-transform: translateY(-25px);
	-ms-transform: translateY(-25px);
	-o-transform: translateY(-25px);
	transform: translateY(-25px);
	visibility: hidden;
	opacity: 0; /* Best browsers */
}

.feature:hover img.img_feature_hover{
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
	visibility: visible;
	opacity: 1; /* Best browsers */
}
.feature:hover .order,
.feature:hover .feature_subheading{
	color: #0098E0;
}


/*Feature style 2*/
.service_left_icon,
.service_left_icon .service_icon,
.service_left_icon:hover .subheading{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.service_left_icon{
	padding: 30px 0 20px;
	border-bottom: 1px solid #E0E0E6;
}
.service_left_icon.noborder{
	border-bottom: 0;
}
.service_left_icon h2,
.service_left_icon h3{
	margin: 0 0 15px;
}
.service_left_icon .heading{
	position: relative;
	padding-left: 50px;
	font-size: 16px;
}
.service_left_icon .service_icon{
	position: absolute;
	margin-left: -50px;
	margin-top: 9px;
	display: block;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	background-color: #0098E0;
}

.service_left_icon .service_icon img{
	display: block;
	margin: 11px auto;
	padding: 0;
}

.service_left_icon:hover .subheading{
	color: #0098E0;
}


/*Feature style 3*/
.services_small_icon{
	position: relative;
	padding-left: 40px;
}
.services_small_icon .sv_icon{
	position: absolute;
	margin-left: -40px;
	margin-top: 2px;
}


/* 
-----------------------------------------------
Showcase
-----------------------------------------------
*/
/*Showcase specific*/
.showcase_service.service_left_icon{
	opacity: 0.6;
}
.showcase_service.service_left_icon:hover{
	opacity: 1;
}
.showcase_service.service_left_icon .service_icon{
	background-color: #A3A4A7;
}
.showcase_service.service_left_icon:hover .service_icon{
	background-color: #0098E0;
}

/* Heading
-----------------*/
.showcase_heading .subheading{
	font-size: 18px;
	margin: 10px 0 0 0;
}
.showcase_heading h1,
.showcase_heading h2,
.showcase_heading h3,
.showcase_heading h4
{
	margin: 0 0 20px;
}


/* 
-----------------------------------------------
Testimonials
-----------------------------------------------
*/
.mod_testimonials{
	padding: 0;
}
.mod_testimonials .testimonial{
	position: relative;
	margin: 30px 0 0 0;
}
.mod_testimonials .testimonial .text{
	position: relative;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 10px;
	background: #F9F9F9;
	color: #999;
	font-size: 12px;
}
.mod_testimonials .testimonial .text:before{
	content: "";
	position: absolute;
	display: block;
	width: 19px;
	height: 16px;
	left: 27px;
	bottom: -16px;
	background: url(../images/tail_quote1.png) no-repeat left -1px;
}
.mod_testimonials .testimonial .client{
	position: relative;
	margin-top: 15px;
	padding: 10px 0 10px 58px;
}
.mod_testimonials .testimonial img{
	position: absolute;
	top: 4px;
	left: 0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.mod_testimonials .testimonial .name{
	color: #111;
}
.mod_testimonials .testimonial .ocupation{
	color: #aaa;
	font-size: 11px;
}


.mod_sidebar_left .mod_testimonials{
	padding-left: 0;
}
.mod_sidebar_right .mod_testimonials{
	padding-right: 0;
}


/* 
-----------------------------------------------
Widgets
-----------------------------------------------
*/
.widget_subheading{
	font-size: 18px;
	color: #999;
}
.widget h2.title{
	font-size: 22px;
	font-weight: 400;
	color: #333;
	margin-top: 0;
	padding-top: 0;
}

.widget{
	padding: 20px;
	border-bottom: 1px solid #E0E0E6;
}
.widget h3{
	font-size: 16px;
	margin: 5px 0 15px;
}
.widget:after{
	clear:both;content:'.';display:block;visibility:hidden;height:0;
}
.mod_sidebar_right .widget{
	padding: 20px 0 20px 20px;
}
.mod_sidebar_left .widget{
	padding: 20px 20px 20px 0;
}

/* Testimonials widget
-------------------------------*/
.widget.widget_testimonials{
	position: relative;
	background: url(../images/quotemark_top.png) no-repeat left top;
	border-bottom: 0;
}
.widget.widget_testimonials .testimonials_slider .smk_cs_slide{
	margin-top: 0
}
.widget.widget_testimonials .testimonials_slider .smk_cs_bullets{
	position: relative;
	width: auto;
	margin: 0 auto;
	padding: 13px 7px 3px;
	z-index: 1000;
	background: none;
	border: 0;
	clear: both;
	overflow: hidden;
	z-index: 20;
}
.widget.widget_testimonials .testimonials_slider .smk_cs_bullets span{
	display: inline-block;
	float: left;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #888;
	margin: 2px 4px;
	cursor: pointer;
}
.widget.widget_testimonials .testimonials_slider .smk_cs_bullets span:hover{
	background: #555;
}
.widget.widget_testimonials .testimonials_slider .smk_cs_bullets span.active{
	background: #0094C1;
}

/* Posts widget
-------------------------------*/
.widget.widget_posts .wgt_posts_3col_grid {
	display: block;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.widget.widget_posts .wgt_posts_3col_grid .post_li {	
	position: relative;
	display: inline-block;
	float: left;
	width: 29%;
	margin: 2%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.widget.widget_posts .wgt_posts_3col_grid .post_li img {
	display: block;
	margin: 0;
	padding: 0;
}

/* Widget Accordion
-------------------------------*/
.widget.widget_accordion .smk_accordion.acc_with_icon .accordion_in .acc_content{
	padding-left: 10px;
}
/*Posts*/
.widget.widget_accordion .post_in{
	position: relative;
	display: block;
	padding-left: 60px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #E4E4E4;
}
.widget.widget_accordion .acc_content .post_in:last-of-type{
	margin-bottom: 0;
	border-bottom: 0;
}
.widget.widget_accordion .post_in img{
	position: absolute;
	display: block;
	left: 0;
	top: 0;
}
.widget.widget_accordion .post_in .date{
	font-size: 10px;
	color: #888;
}
.widget.widget_accordion .post_in .post_title{
	font-size: 12px;
	color: #444;
}
/* Comments */
.widget.widget_accordion .comment_in{
	position: relative;
	display: block;
	padding-left: 45px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #E4E4E4;
}
.widget.widget_accordion .acc_content .comment_in:last-of-type{
	margin-bottom: 0;
	border-bottom: 0;
}
.widget.widget_accordion .comment_in img{
	position: absolute;
	display: block;
	left: 0;
	top: 3px;
}
.widget.widget_accordion .comment_in .author{
	font-size: 13px;
	color: #333;
}
.widget.widget_accordion .comment_in .short{
	font-size: 11px;
	color: #555;
}


.widget.widget_accordion .smk_accordion .accordion_in .acc_head{
	padding-left: 33px;
}
/* Icon expand */
.widget.widget_accordion .smk_accordion .accordion_in .acc_head.wgt_acc_recent .acc_icon_expand{
	background: url(../images/wgt_acc_recent.png) center 1px no-repeat;
}
.widget.widget_accordion .smk_accordion .accordion_in.acc_active .acc_head.wgt_acc_recent .acc_icon_expand{
	background: url(../images/wgt_acc_recent.png) center 1px no-repeat;
}
.widget.widget_accordion .smk_accordion .accordion_in .acc_head.wgt_acc_popular .acc_icon_expand{
	background: url(../images/wgt_acc_popular.png) center 0 no-repeat;
}
.widget.widget_accordion .smk_accordion .accordion_in.acc_active .acc_head.wgt_acc_popular .acc_icon_expand{
	background: url(../images/wgt_acc_popular.png) center 0 no-repeat;
}
.widget.widget_accordion .smk_accordion .accordion_in .acc_head.wgt_acc_comments .acc_icon_expand{
	background: url(../images/wgt_acc_comments.png) center 2px no-repeat;
}
.widget.widget_accordion .smk_accordion .accordion_in.acc_active .acc_head.wgt_acc_comments .acc_icon_expand{
	background: url(../images/wgt_acc_comments.png) center 2px no-repeat;
}

/* Search form widget
-------------------------------*/
.widget.widget_search{
	padding-top: 30px;
	padding-bottom: 30px;
}
.widget.widget_search .search-form .search-field{
	padding: 9px 5px 9px 38px;
	border: 1px solid #ccc;
	border-radius: 3px;
	width: 100%;
	background: url(../images/search_icon_sidebar.png) no-repeat left center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Social followers widget
-------------------------------*/
.widget.widget_social_followers .sf_block{
	display: inline-block;
	position: relative;
	float: left;
	width: 50%;
	padding: 30px 5px 0;
	color: #888;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.widget.widget_social_followers .sf_block.facebook{
	background: url(../images/wgt-facebook.png) no-repeat center top;
}
.widget.widget_social_followers .sf_block.twitter{
	background: url(../images/wgt-twitter.png) no-repeat center top;
}

.widget.widget_social_followers .sf_block.facebook .nr_of_followers,
.widget.widget_social_followers .sf_block.twitter .nr_of_followers{
	font-size: 18px;
	font-weight: 700;
	color: #333;
}

.widget.widget_social_followers .sf_block:first-of-type{
	border-right: 1px solid #E0E0E6;
}
.widget.widget_social_followers .sf_block:first-of-type:after{
	content: "&";
	position: absolute;
	display: block;
	right: -5px;
	top: 50%;
	margin-top: -15px;
	font-size: 14px;
	line-height: 1;
	padding: 7px 0;
	background: #fff;
	color: #E0E0E6;
}

/* Social 24 */
.social24{
	display: inline-block;
	margin: 0 7px 0 0;
}

/* Calendar Widget */
.widget.widget_calendar table {
	position: relative;
	width: 100%;
	margin-bottom: 0;
}
.widget.widget_calendar #calendar_wrap {
	position: relative;
	width: 100%;
	border-radius: 3px;
}
.widget.widget_calendar table,
.widget.widget_calendar td {
	border-spacing: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.widget.widget_calendar caption {
	position: relative;
	font-size: 13px;
	margin: 0;
	border: 1px solid #E0E0E6;
	border-bottom: 0;
	background: transparent;
	padding: 15px 10px;
}
.widget.widget_calendar tr {
	border: 0;
}
.widget.widget_calendar th,
.widget.widget_calendar td {
	font-size: 10px;
	padding: 7px 4px;
	text-align: center;
	background: #fff;
	border: 1px solid #E0E0E6;
}

.widget.widget_calendar td.pad {
	background: #FDFDFD;
}

.widget.widget_calendar thead{
	border: 1px solid #E0E0E6;
	border-top: 0;
	border-bottom: 0;
}
.widget.widget_calendar th{
	border: 0;
	font-weight: 400;
	font-size: 10px;
}

.widget.widget_calendar a {
	display: block;
}

.widget.widget_calendar tfoot{
	background-color: transparent;
	position: absolute;
	width: 100%;
	border: 0;
	top: 13px;
}
.widget.widget_calendar tfoot .pad{
	border: 0;
	width: 0;
	margin: 0;
	background: transparent;
}
.widget.widget_calendar tfoot #prev{
	border: 0;
	background: url(../images/calendar_prev.png) no-repeat 20% center;
	width: 50%;
}
.widget.widget_calendar tfoot #next{
	border: 0;
	background: url(../images/calendar_next.png) no-repeat 80% center;
	width: 50%;
}
.widget.widget_calendar #today{
	background: #0098E0;
	color: #fff;
	-webkit-transform: scale(1.09);
	-moz-transform: scale(1.09);
	-ms-transform: scale(1.09);
	-o-transform: scale(1.09);
	transform: scale(1.09);
}



/* 
-----------------------------------------------
Footer
-----------------------------------------------
*/
.container_footer{
	background: #383D46;
	color: #fff;
	margin: 0;
}
.container_footer .inner{
	padding: 30px 0 15px;
	border-bottom: 1px solid #464C58;
}
.container_footer .inner:last-of-type{
	border-bottom: 0;
}
.container_footer .copyright{
	color: #757B87;
	text-align: center;
	font-size: 11px;
}

/* Footer social
------------------------------------------------------*/
.social_footer{
	display: block;
	margin: 10px auto 0;
	width: auto;
	text-align: center;
}
.social_footer a{
	display: inline-block;
	margin: 5px 6px;
	width: 22px;
	height: 21px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.social_footer a.facebook{     background: url(../images/social/socialfooter_icons.png) 1px 0; }
.social_footer a.twitter{      background: url(../images/social/socialfooter_icons.png) -39px 0; }
.social_footer a.google-plus{      background: url(../images/social/socialfooter_icons.png) -72px 0; }
.social_footer a.skype{      background: url(../images/social/socialfooter_icons.png) -108px 0; }
.social_footer a.linkedin{      background: url(../images/social/socialfooter_icons.png) -144px 0; }
.social_footer a.digg{         background: url(../images/social/socialfooter_icons.png) -184px 0; }
.social_footer a.stumbleupon{      background: url(../images/social/socialfooter_icons.png) -215px 0; }
.social_footer a.vimeo{      background: url(../images/social/socialfooter_icons.png) -252px 0; }

.social_footer a.facebook:hover{     background-position: 1px -20px; }
.social_footer a.twitter:hover{      background-position: -39px -20px; }
.social_footer a.google-plus:hover{      background-position: -72px -20px; }
.social_footer a.skype:hover{      background-position: -108px -20px; }
.social_footer a.linkedin:hover{      background-position: -144px -20px; }
.social_footer a.digg:hover{         background-position: -184px -20px; }
.social_footer a.stumbleupon:hover{      background-position: -215px -20px; }
.social_footer a.vimeo:hover{      background-position: -252px -20px; }

/* 
-----------------------------------------------
Buttons
-----------------------------------------------
*/
.button{
	display: inline-block;
	padding: 6px 12px;
	background: rgb(255,252,252); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,252,252,1) 0%, rgba(247,247,247,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,252,252,1)), color-stop(100%,rgba(247,247,247,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,252,252,1) 0%,rgba(247,247,247,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,252,252,1) 0%,rgba(247,247,247,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,252,252,1) 0%,rgba(247,247,247,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,252,252,1) 0%,rgba(247,247,247,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcfc', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
	color: #7B7E85;
	border: 1px solid #bbb;
	border-radius: 3px;
	margin: 5px;
	font-size: 12px;
	text-decoration: none;
	cursor: pointer;
}
.button.large{
	padding: 8px 14px;
	font-size: 13px;
}
.button.medium{
	padding: 6px 12px;
	font-size: 12px;
}
.button.small{
	padding: 5px 10px;
	font-size: 11px;
}
.button:hover{
	background: #fff;
}
.button:active{
	background: #fff;
	box-shadow: inset 0 1px 5px rgba(0, 0, 0, .3);
}
.button.blue{
	background: rgb(26,178,250); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(26,178,250,1) 0%, rgba(1,153,225,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(26,178,250,1)), color-stop(100%,rgba(1,153,225,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(26,178,250,1) 0%,rgba(1,153,225,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(26,178,250,1) 0%,rgba(1,153,225,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(26,178,250,1) 0%,rgba(1,153,225,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(26,178,250,1) 0%,rgba(1,153,225,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ab2fa', endColorstr='#0199e1',GradientType=0 ); /* IE6-9 */
	color: #fff;
	border: 1px solid #0B6F9E;
}
.button.blue:hover{
	background: #10A8F0;
}

.button.dark{
	background: rgb(82,87,96); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(82,87,96,1) 0%, rgba(57,62,71,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(82,87,96,1)), color-stop(100%,rgba(57,62,71,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(82,87,96,1) 0%,rgba(57,62,71,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(82,87,96,1) 0%,rgba(57,62,71,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(82,87,96,1) 0%,rgba(57,62,71,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(82,87,96,1) 0%,rgba(57,62,71,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#525760', endColorstr='#393e47',GradientType=0 ); /* IE6-9 */
	color: #fff;
	border: 1px solid #222730;
}
.button.dark:hover{
	background: #474C55;
}

.button.green{
	background: rgb(155,204,84); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(155,204,84,1) 0%, rgba(131,180,60,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(155,204,84,1)), color-stop(100%,rgba(131,180,60,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(155,204,84,1) 0%,rgba(131,180,60,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(155,204,84,1) 0%,rgba(131,180,60,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(155,204,84,1) 0%,rgba(131,180,60,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(155,204,84,1) 0%,rgba(131,180,60,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bcc54', endColorstr='#83b43c',GradientType=0 ); /* IE6-9 */
	color: #fff;
	border: 1px solid #648A2D;
}
.button.green:hover{
	background: #91C24A;
}

.button.red{
	background: rgb(255,103,87); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,103,87,1) 0%, rgba(230,78,62,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,103,87,1)), color-stop(100%,rgba(230,78,62,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,103,87,1) 0%,rgba(230,78,62,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,103,87,1) 0%,rgba(230,78,62,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,103,87,1) 0%,rgba(230,78,62,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,103,87,1) 0%,rgba(230,78,62,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6757', endColorstr='#e64e3e',GradientType=0 ); /* IE6-9 */
	color: #fff;
	border: 1px solid #A8362A;
}
.button.red:hover{
	background: #F75F4F;
}

.button.purple{
	background: rgb(169,107,238); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(169,107,238,1) 0%, rgba(144,82,213,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,107,238,1)), color-stop(100%,rgba(144,82,213,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(169,107,238,1) 0%,rgba(144,82,213,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(169,107,238,1) 0%,rgba(144,82,213,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(169,107,238,1) 0%,rgba(144,82,213,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(169,107,238,1) 0%,rgba(144,82,213,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a96bee', endColorstr='#9052d5',GradientType=0 ); /* IE6-9 */
	color: #fff;
	border: 1px solid #62309A;
}
.button.purple:hover{
	background: #A163E6;
}

.button.yellow{
	background: rgb(255,238,181); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,238,181,1) 0%, rgba(237,213,156,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,238,181,1)), color-stop(100%,rgba(237,213,156,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,238,181,1) 0%,rgba(237,213,156,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,238,181,1) 0%,rgba(237,213,156,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,238,181,1) 0%,rgba(237,213,156,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,238,181,1) 0%,rgba(237,213,156,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffeeb5', endColorstr='#edd59c',GradientType=0 ); /* IE6-9 */
	color: #88713D;
	border: 1px solid #AB9562;
}
.button.yellow:hover{
	background: #F9E5AC;
}
.button.disabled,
.button.disabled:hover,
input.button:disabled,
input.button:disabled:hover{
	background: #e5e5e5; /* Old browsers */
	background: -moz-linear-gradient(top,  #e5e5e5 0%, #d6d6d6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#d6d6d6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e5e5e5 0%,#d6d6d6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e5e5e5 0%,#d6d6d6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e5e5e5 0%,#d6d6d6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e5e5e5 0%,#d6d6d6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */
	color: #88713D;
	border: 1px solid #ccc;
	cursor: default;
}

/* 
-----------------------------------------------
Alerts
-----------------------------------------------
*/
.alert{
	display: block;
	position: relative;
	padding: 10px;
	margin: 0 0 20px;
	border-radius: 3px;
	color: #B67D7D;
	background: #FFEBEB;
	border: 1px solid #E5ACAC;
}
.alert.success{
	color: #9BB077;
	background: #EBFFD9;
	border: 1px solid #BCD2A6;
}
.alert.warning{
	color: #B6A47B;
	background: #FFFBEB;
	border: 1px solid #ECD49B;
}
.alert.error{
	color: #B67D7D;
	background: #FFEBEB;
	border: 1px solid #E5ACAC;
}
.alert.info{
	color: #7BA0B6;
	background: #E6F4FF;
	border: 1px solid #AAC2DB;
}

.alert .alert_title{
	display: block;
	padding: 0 5px 5px 25px;
	font-size: 1.24em;
	background: url(../images/error.png) no-repeat left 5px;
}
.alert.success .alert_title{
	color: #6A8E3C;
	background: url(../images/success.png) no-repeat left 5px;
}
.alert.warning .alert_title{
	color: #88713D;
	background: url(../images/attention.png) no-repeat left 5px;
}
.alert.error .alert_title{
	color: #883D3D;
	background: url(../images/error.png) no-repeat left 5px;
}
.alert.info .alert_title{
	color: #607F94;
	background: url(../images/info.png) no-repeat left 5px;
}
.alert .alert_title.no_icon{
	padding: 0 5px 5px 0;
	background: transparent;
}

/* 
-----------------------------------------------
Progress bar
-----------------------------------------------
*/
.smk_progress_bar {
	position: relative;
	height: 8px;
	padding: 0;
	border: 1px solid #E0E0E6;
	border-radius: 3px;
	background: #F9F9F9;
	margin-bottom: 15px;
}
.smk_progress_bar .smk_pb_child {
	position: absolute;
	height: 100%;
	padding: 1px;
	width: 65%;
	background: #0098E0;
	border-radius: 3px;
	top: -1px;
	left: -1px;
	border: 0;
	overflow: hidden;
}
.smk_progress_bar.with_value {
	height: 30px;
}
.smk_progress_bar.pb_green .smk_pb_child {
	background: #53AF3C;
}
.smk_progress_bar.with_value .smk_pb_child .value{
	position: absolute;
	color: #fff;
	right: 7px;
	top: 2px;
	font-size: 16px;
	width: auto;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transform: translateX(40px);
	-moz-transform: translateX(40px);
	-ms-transform: translateX(40px);
	-o-transform: translateX(40px);
	transform: translateX(40px);
	visibility: hidden;
	opacity: 0; /* Best browsers */
}
.smk_progress_bar.with_value .smk_pb_child .value.pb_val_anim{
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
	visibility: visible;
	opacity: 1; /* Best browsers */
}


/* 
-----------------------------------------------
Tabs
-----------------------------------------------
*/
.tabs_example,
.tabs_example .tab_content{
	display: none;
}

.smk_tabs{	
	display: block;
	position: relative;
	padding: 0;
	margin: 0 0 20px;
}

/*Tab navigation*/
.smk_tabs .tab_nav{
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
	clear: both;
	z-index: 2;
	margin: 0;
}
.smk_tabs .tab_nav li{
	display: inline-block;
	float: left;
	padding: 0;
	margin: 0 0 -1px 0;
	background: #F9F9F9;
	border: 1px solid #ccc;
	border-right: 0;
	font-size: 14px;
	padding: 8px 12px 9px;
	cursor: pointer;
}
.smk_tabs .tab_nav li:first-of-type{
	border-radius: 3px 0 0;
}
.smk_tabs .tab_nav li:last-of-type{
	border-radius: 0 3px 0 0;
	border-right: 1px solid #ccc;
}
.smk_tabs .tab_nav li.active{
	background: #FDFDFD;
	border-bottom: 1px solid #FDFDFD;
}

/*Tab content*/
.smk_tabs .tab_content{
	position: relative;
	display: block;
	padding: 0;
	margin: 0;
	background: #FDFDFD;
	color: #7B7E85;
	border: 1px solid #ccc;
	border-radius: 0 0 3px 3px;
	clear: both;
	overflow: hidden;
	z-index: 1;
}

.smk_tabs .tab_content h1:first-of-type,
.smk_tabs .tab_content h2:first-of-type,
.smk_tabs .tab_content h3:first-of-type,
.smk_tabs .tab_content h4:first-of-type,
.smk_tabs .tab_content h5:first-of-type,
.smk_tabs .tab_content h6:first-of-type
{
	margin-top: 5px;
}
.smk_tabs .tab_content p:last-of-type{
	margin-bottom: 10px;
}

.smk_tabs .tab_content .tab_in{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 10px;
	-webkit-animation-fill-mode:both;
	-moz-animation-fill-mode:both;
	-ms-animation-fill-mode:both;
	-o-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation-duration:0.3s;
	-moz-animation-duration:0.3s;
	-ms-animation-duration:0.3s;
	-o-animation-duration:0.3s;
	animation-duration:0.3s;
	visibility: hidden;
	opacity: 0;
}
.smk_tabs .tab_content .tab_in.active{
	position: relative;
	top: auto;
	left: auto;
	right: auto;
	visibility: visible;
	opacity: 1;
}
.smk_tabs .tab_content .tab_in.active:before{
	content: "";
	position: relative;
	display: block;
	height: 100%;
}

@-webkit-keyframes tab_fade_in {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes tab_fade_in {
	0% {
		opacity: 0;
		-moz-transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes tab_fade_in {
	0% {
		opacity: 0;
		-o-transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes tab_fade_in {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.tab_fade_in {
	-webkit-animation-name: tab_fade_in;
	-moz-animation-name: tab_fade_in;
	-o-animation-name: tab_fade_in;
	animation-name: tab_fade_in;
}

@-webkit-keyframes tab_fade_out {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}
}
@-moz-keyframes tab_fade_out {
	0% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-moz-transform: translateY(-20px);
	}
}
@-o-keyframes tab_fade_out {
	0% {
		opacity: 1;
		-o-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-o-transform: translateY(-20px);
	}
}
@keyframes tab_fade_out {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		transform: translateY(-20px);
	}
}
.tab_fade_out {
	-webkit-animation-name: tab_fade_out;
	-moz-animation-name: tab_fade_out;
	-o-animation-name: tab_fade_out;
	animation-name: tab_fade_out;
}


/* 
-----------------------------------------------
Accordion
-----------------------------------------------
*/
.smk_accordion{
	position: relative;
	margin-bottom: 20px;
}
.smk_accordion .accordion_in{ 
	border: 1px solid #ccc;
	position: relative;
	z-index: 10;
	margin-top: -1px;
	overflow: hidden;
}
/* Head */
.smk_accordion .accordion_in .acc_head{
	position: relative;
	background: #FDFDFD;
	padding: 8px 10px 10px 10px;
	font-size: 14px;
	display: block;
	cursor: pointer; 
}
.smk_accordion .accordion_in:first-of-type,
.smk_accordion .accordion_in:first-of-type .acc_head{
	border-radius: 3px 3px 0 0;
}
.smk_accordion .accordion_in:last-of-type,
.smk_accordion .accordion_in:last-of-type .acc_content{
	border-radius: 0 0 3px 3px;
}

/* Content */
.smk_accordion .accordion_in .acc_content{
	background: #F9F9F9;
	color: #7B7E85;
	padding: 3px 10px;
}

.smk_accordion .accordion_in h1:first-of-type,
.smk_accordion .accordion_in h2:first-of-type,
.smk_accordion .accordion_in h3:first-of-type,
.smk_accordion .accordion_in h4:first-of-type,
.smk_accordion .accordion_in h5:first-of-type,
.smk_accordion .accordion_in h6:first-of-type
{
	margin-top: 5px;
}
.smk_accordion .accordion_in p:last-of-type{
	margin-bottom: 10px;
}

/* Icon expand */
.smk_accordion .accordion_in .acc_head .acc_icon_expand{
	display: block;
	width: 18px;
	height: 18px;
	position: absolute;
	left: 10px;
	top: 11px;
	background: url(../images/plusminus.png) center 0;
}
.smk_accordion .accordion_in.acc_active .acc_head .acc_icon_expand{
	background: url(../images/plusminus.png) center -18px;
}

/* JS requires */
.smk_accordion .accordion_in.acc_active .acc_content{ 
	display: block;
}
.smk_accordion .accordion_in.acc_active .acc_head{
	background: #F9F9F9;
}
.smk_accordion.acc_with_icon .accordion_in .acc_head,
.smk_accordion.acc_with_icon .accordion_in .acc_content{
	padding-left: 40px;
}


/* 
-----------------------------------------------
Toggle
-----------------------------------------------
*/
.smk_toggle{
	position: relative;
	margin-bottom: 10px;
}
/* Head */
.smk_toggle .smk_toggle_head{
	position: relative;
	background: #FDFDFD;
	padding: 8px 10px 10px 10px;
	border: 1px solid #ccc;
	border-radius: 2px;
	font-size: 14px;
	display: block;
	cursor: pointer; 
}
/* Content */
.smk_toggle .smk_toggle_body{
	background: #fefefe;
	color: #7B7E85;
	padding: 3px 10px;	
	border: 1px solid #ccc;
	border-top: 0;	
	border-radius: 0 0 2px 2px;
}

.smk_toggle .smk_toggle_body h1:first-of-type,
.smk_toggle .smk_toggle_body h2:first-of-type,
.smk_toggle .smk_toggle_body h3:first-of-type,
.smk_toggle .smk_toggle_body h4:first-of-type,
.smk_toggle .smk_toggle_body h5:first-of-type,
.smk_toggle .smk_toggle_body h6:first-of-type
{
	margin-top: 5px;
}
.smk_toggle .smk_toggle_body p:last-of-type{
	margin-bottom: 10px;
}

/* Icon expand */
.smk_toggle .smk_toggle_head .smk_toggle_expand{
	display: block;
	width: 18px;
	height: 18px;
	position: absolute;
	left: 10px;
	top: 11px;
	background: url(../images/plusminus.png) center 0;
}
.smk_toggle.smk_toggle_active .smk_toggle_head .smk_toggle_expand{
	background: url(../images/plusminus.png) center -18px;
}

/* JS requires */
.smk_toggle.smk_toggle_active .smk_toggle_body{ 
	display: block;
}
.smk_toggle.smk_toggle_active .smk_toggle_head{
	background: #F9F9F9;
	border-radius: 2px 2px 0 0;
}
.smk_toggle.smk_toggle_with_icon .smk_toggle_head{
	padding-left: 40px;
}



/* 
-----------------------------------------------
Price Table
-----------------------------------------------
*/
.smk_price_table .price_table_column{
	margin-top: 40px;
	position: relative;
}
.smk_price_table .price_table_column .price_table_box{
	position: relative;
	overflow: hidden;
}

/* Row header*/
.smk_price_table .pt_header{
	display: block;
	background: #383D46;
	padding: 15px 10px;
	color: #fff;
}
.smk_price_table .pt_header h3{
	padding: 0;
	margin: 0;
	color: #fff;
}
.smk_price_table .pt_header .pt_subheader{
	padding: 0;
	margin: 0;
	color: #fff;
	font-size: 12px;
	color: #9197A2;
}

/* Row price*/
.smk_price_table .pt_row_price{
	padding: 0 10px;
	background: #fff;
	border-left: 1px solid #E0E0E6;
	border-right: 1px solid #E0E0E6;
}
.smk_price_table .pt_row .pt_price{
	padding: 0;
	margin: 0;
	color: #333539;
	font-size: 50px;
}
.smk_price_table .pt_row .pr_price_period{
	padding: 0;
	margin: 0;
	color: #7B7E85;
	font-size: 16px;
}

/* Row list */
.smk_price_table .pt_rows_list{
	list-style: none;
	margin: 0;
	padding: 0;
	border-top: 1px solid #E0E0E6;
}
.smk_price_table .pt_rows_list li{
	list-style: none;
	margin: 0;
	background: #fff;
	padding: 10px 10px 10px 38px;
	border-left: 1px solid #E0E0E6;
	border-right: 1px solid #E0E0E6;
	background: url(../images/tick_pt.png) no-repeat 12px center;
}
.smk_price_table .pt_rows_list li.pt_cross{
	background-image: url(../images/x_list.png);
}
.smk_price_table .pt_rows_list li:nth-child(odd){
	background-color: #F6F6F6;
}
.smk_price_table .pt_row_footer{
	background: #fff;
	text-align: center;
	border: 1px solid #E0E0E6;
	padding: 15px 10px;
}

/* Badge */
.smk_price_table .price_table_column .price_table_box .pt_badge{
	display: block;
	width: auto;
	position: absolute;
	top: 10px;
	right: 0;
	background: #0098E0;
	padding: 3px 10px;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	border-radius: 2px 0 0 2px;
}

/* Style */
.smk_price_table.pt_separated .pt_header{
	border-radius: 3px 3px 0 0;
}
.smk_price_table.pt_separated .pt_row_footer{
	border-radius: 0 0 3px 3px;
}

/* Featured */ 
.smk_price_table .price_table_column.pt_featured{
	margin-top: 0;
}
.smk_price_table .price_table_column.pt_featured .pt_header{
	background: #0098E0;
}
.smk_price_table .price_table_column.pt_featured .pt_header .pt_subheader{
	color: #A3D0F0;
}
.smk_price_table .price_table_column.pt_featured .pt_price,
.smk_price_table .price_table_column.pt_featured .pr_price_period{
	color: #0098E0;
}
.smk_price_table .price_table_column.pt_featured .pt_rows_list li{
	background-image: url(../images/tick_pt2.png);
}

.smk_price_table .price_table_column.pt_featured .price_table_box .pt_badge{
	background: #383D46;
}

/* No space */
.smk_price_table.pt_nospace .price_table_column{
	padding-left: 0;
	padding-right: 0;
}


/* 
-----------------------------------------------
SMK Slider
-----------------------------------------------
*/
.graa{
	background: #333;
	color: #fff;
}
.smk_slider{
	position: relative;
	height: auto;
}
/* clearfix */
.smk_slider:after{clear:both;content:'.';display:block;visibility:hidden;height:0;}
* html .smk_slider{height:1%;}
.smk_slider{display:block;}

.smk_slider .smk_cs_slides{
	position: relative;
	z-index: 5;
}
.smk_slider .smk_cs_slides .smk_cs_slide{
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	clear: both;
	z-index: 5;
}
.smk_slider .smk_cs_slides .smk_cs_slide.smk_cs_active{
	z-index: 500;
}
.smk_slider .smk_cs_slides .smk_cs_slide img.slide_bg{
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}
.smk_slider .smk_cs_next,
.smk_slider .smk_cs_prev{
	position: absolute;
	display: block;
	top: 45%;
	padding: 5px 8px;
	cursor: pointer;
	z-index: 10;
}
.smk_slider .smk_cs_next{
	right: -10%;
}
.smk_slider .smk_cs_prev{
	left: -10%;
}

.smk_slider .smk_cs_bullets{
	position: relative;
	width: auto;
	margin: 10px auto 0;
	padding: 3px 7px;
	z-index: 1000;
	background: #eee;
	border-radius: 3px;
	border: 1px solid #bbb;
	clear: both;
	overflow: hidden;
	z-index: 2000;
}
.smk_slider .smk_cs_bullets span{
	display: inline-block;
	float: left;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #333;
	margin: 2px;
	cursor: pointer;
}
.smk_slider .smk_cs_bullets span.active,
.smk_slider .smk_cs_bullets span:hover{
	background: #0094C1;
}
.smk_slider .smk_cs_progress_bar{
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 2px;
	width: 45%;
	background: #888;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	z-index: 20;
}
.smk_slider .smk_cs_progress_bar .progress{
	display: block;
	height: 4px;
	width: 0;
	background: #eee;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 3px;
}

.smk_slider .smk_cs_slides .smk_cs_slide .smk_caption{
	/*position: relative;*/
	z-index: 1000;
	-webkit-animation-fill-mode:both;
	-moz-animation-fill-mode:both;
	-ms-animation-fill-mode:both;
	-o-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation-duration:0.7s;
	-moz-animation-duration:1s;
	-ms-animation-duration:1s;
	-o-animation-duration:1s;
	animation-duration:1s;
}


/* Captions examples */
.smk_slider .smk_cs_slides .smk_cs_slide .smk_caption.small_black_white{
	position: absolute;
	background: #fff;
	padding: 3px 10px;
	color: #333;
	font-size: 13px;
	border-radius: 2px;
}
.smk_slider .smk_cs_slides .smk_cs_slide .smk_caption.big_white_green,
.smk_slider .smk_cs_slides .smk_cs_slide .smk_caption.big_white_yellow,
.smk_slider .smk_cs_slides .smk_cs_slide .smk_caption.big_white_orange,
.smk_slider .smk_cs_slides .smk_cs_slide .smk_caption.big_white_darkred{
	position: absolute;
	padding: 3px 10px;
	font-size: 20px;
	font-weight: 700;
	border-radius: 2px;
}

.smk_slider .smk_cs_slides .smk_cs_slide .smk_caption.big_white_green{
	background: #A5C502;
	color: #fff;
}
.smk_slider .smk_cs_slides .smk_cs_slide .smk_caption.big_white_yellow{
	background: #F5C30E;
	color: #fff;
}
.smk_slider .smk_cs_slides .smk_cs_slide .smk_caption.big_white_orange{
	background: #F56C11;
	color: #fff;
}
.smk_slider .smk_cs_slides .smk_cs_slide .smk_caption.big_white_darkred{
	background: #9B2748;
	color: #fff;
}


.smk_slider .smk_cs_slides .smk_cs_slide .smk_caption.medium_white_dark,
.smk_slider .smk_cs_slides .smk_cs_slide .smk_caption.medium_white_yellow,
.smk_slider .smk_cs_slides .smk_cs_slide .smk_caption.medium_white_green{
	position: absolute;
	padding: 3px 10px;
	font-size: 24px;
	font-weight: 400;
	border-radius: 0;
}
.smk_slider .smk_cs_slides .smk_cs_slide .smk_caption.medium_white_dark{
	background: #383D46;
	color: #fff;
}
.smk_slider .smk_cs_slides .smk_cs_slide .smk_caption.medium_white_yellow{
	background: #D0E400;
	color: #fff;
}
.smk_slider .smk_cs_slides .smk_cs_slide .smk_caption.medium_white_green{
	background: #149144;
	color: #fff;
}



/*Homepage slider theme
------------------------------------------*/
.smk_slider.main_slider .smk_cs_progress_bar .progress,
.smk_slider.main_slider .smk_cs_next,
.smk_slider.main_slider .smk_cs_prev,
.smk_slider.main_slider .smk_cs_bullets span{
	-webkit-transition: background-color 0.2s;
	-moz-transition: background-color 0.2s;
	-ms-transition: background-color 0.2s;
	-o-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.smk_slider.main_slider .smk_cs_slides .smk_cs_slide{
	padding: 80px 0;
	clear: both;
	overflow: hidden;
}
.smk_slider.main_slider .smk_cs_slides .smk_cs_slide h1{
	margin-top: 10px;
	font-size: 36px;
}
.smk_slider.main_slider .smk_cs_slides .smk_cs_slide .slider_simple_text{
	font-size: 16px;
	color: #7B7E85;
}

/* Progress Bar */
.smk_slider.main_slider .smk_cs_progress_bar{
	display: block;
	position: absolute;
	top: auto;
	bottom: 10px;
	right: 0;
	left: 0;
	padding: 2px;
	width: 100%;
	/*background: #eee;
	background: rgba(0, 0, 0, 0.1);*/
	background: none;
	border-radius: 3px;
	z-index: 2000;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.smk_slider.main_slider .smk_cs_progress_bar .progress{
	display: block;
	height: 3px;
	width: 0;
	margin: 0;
	background: #888;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 3px;
}

.smk_slider.main_slider:hover .smk_cs_progress_bar .progress{
	background: #0098E0;
}

/* Navigation left/right */
.smk_slider.main_slider .smk_cs_next,
.smk_slider.main_slider .smk_cs_prev{
	position: absolute;
	display: block;
	top: 50%;
	width: 25px;
	height: 70px;
	margin-top: -35px;
	border-radius: 3px;
	padding: 5px 8px;
	background: #B2B2B2;
	background: rgba(0, 0, 0, 0.3) no-repeat center center;
	cursor: pointer;
	z-index: 10;
}
.smk_slider.main_slider .smk_cs_next{
	right: -10%;
	background-image: url(../images/arrow_slider_r.png);
}
.smk_slider.main_slider .smk_cs_prev{
	left: -10%;
	background-image: url(../images/arrow_slider_l.png);
}
.smk_slider.main_slider .smk_cs_next:hover{
	background-color: #4B4B4B;
	background-color: rgba(0, 0, 0, 0.7);
}
.smk_slider.main_slider .smk_cs_prev:hover{
	background-color: #4B4B4B;
	background-color: rgba(0, 0, 0, 0.7);
}

.smk_slider.main_slider .smk_cs_bullets{
	position: absolute;
	width: auto;
	left: 0;
	right: 0;
	bottom: 30px;
	padding: 3px 7px;
	z-index: 1000;
	background: none;
	border: 0;
	clear: both;
	overflow: hidden;
	z-index: 20;
}
.smk_slider.main_slider .smk_cs_bullets span{
	display: inline-block;
	float: left;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background: #888;
	margin: 2px 4px;
	cursor: pointer;
}
.smk_slider.main_slider .smk_cs_bullets span:hover{
	background: #555;
}
.smk_slider.main_slider .smk_cs_bullets span.active{
	background: #0094C1;
}

/* HomePage slider theme 2
----------------------------------------------------*/
.smk_slider.main_slider_banner .smk_cs_slides .smk_cs_slide{
	position: relative;
}
.smk_slider.main_slider_banner .smk_cs_slides .smk_cs_slide:before{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-left: 1px solid #333539;
	border-right: 1px solid #333539;
	z-index: 5000;
}
/* Navigation left/right */
.smk_slider.main_slider_banner .smk_cs_next,
.smk_slider.main_slider_banner .smk_cs_prev{
	position: absolute;
	display: block;
	top: 50%;
	width: 25px;
	height: 70px;
	margin-top: -35px;
	border-radius: 3px;
	padding: 5px 8px;
	background: #B2B2B2;
	background: rgba(0, 0, 0, 0.3) no-repeat center center;
	cursor: pointer;
	z-index: 10;
}
.smk_slider.main_slider_banner .smk_cs_next{
	right: -10%;
	background-image: url(../images/arrow_slider_r.png);
}
.smk_slider.main_slider_banner .smk_cs_prev{
	left: -10%;
	background-image: url(../images/arrow_slider_l.png);
}
.smk_slider.main_slider_banner .smk_cs_next:hover{
	background-color: #4B4B4B;
	background-color: rgba(0, 0, 0, 0.7);
}
.smk_slider.main_slider_banner .smk_cs_prev:hover{
	background-color: #4B4B4B;
	background-color: rgba(0, 0, 0, 0.7);
}

/*Progress bar*/
.smk_slider.main_slider_banner .smk_cs_progress_bar{
	display: block;
	position: absolute;
	top: auto;
	bottom: 10px;
	right: 10px;
	left: auto;
	height: 2px;
}
.smk_slider.main_slider_banner .smk_cs_progress_bar .progress{
	height: 2px;
}

/* Play/stop buttons */
.slider_playstop_btns{
	position: absolute;
	z-index: 9000;
	top: 10px;
	right: 10px;
	width: 32px;
	height: 32px;
	opacity: 0.3;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.slider_playstop_btns:hover{
	opacity: .7;
}
.slider_playstop_btns .smk_cs_play{
	position: absolute;
	display: block;
	width: 32px;
	height: 32px;
	background: url(../images/slider_play.png) no-repeat center center;
	cursor: pointer;
}
.slider_playstop_btns .smk_cs_stop{
	position: absolute;
	display: block;
	width: 32px;
	height: 32px;
	background: url(../images/slider_stop.png) no-repeat center center;
	cursor: pointer;
}


/* HomePage slider theme 3
----------------------------------------------------*/
.main_slider3_block{
	background: #383D46;
	border-top: 1px solid #464C58;
	color: #fff;
}
.smk_caption.img_abs{
	position: absolute;
}

/* HomePage Featured slider theme
----------------------------------------------------*/
.container_row.featured_slider_nav_row{
	margin: 0;
	padding: 0;
	background: #0098E0;
	border-top: 1px solid #333539;
}
.featured_slider_nav_row .fs_custom_nav{
	display: block;
	text-align: center;
	font-size: 13px;
}
.featured_slider_nav_row .fs_custom_nav .nav_item{
	color: #fff;
	cursor: pointer;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
.featured_slider_nav_row .fs_custom_nav .nav_item .featured_icon{
	display: block;
	width: 86px;
	height:86px;
	margin: 0 auto;
	background: #0072A8;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 50%;
}
.featured_slider_nav_row .fs_custom_nav .nav_item .featured_icon.photoshop{
	background: url(../images/featured_slider/ps.png) no-repeat center center #0072A8;
	background: url(../images/featured_slider/ps.png) no-repeat center center rgba(0, 0, 0, 0.4);
}
.featured_slider_nav_row .fs_custom_nav .nav_item .featured_icon.piggy{
	background: url(../images/featured_slider/piggy.png) no-repeat center center #0072A8;
	background: url(../images/featured_slider/piggy.png) no-repeat center center rgba(0, 0, 0, 0.4);
}
.featured_slider_nav_row .fs_custom_nav .nav_item .featured_icon.paint{
	background: url(../images/featured_slider/paint.png) no-repeat center center #0072A8;
	background: url(../images/featured_slider/paint.png) no-repeat center center rgba(0, 0, 0, 0.4);
}

.featured_slider_nav_row .fs_custom_nav .nav_item.active{
	background: url(../images/featured_slider/active.png) no-repeat center bottom;
}

.featured_slider_nav_row .fs_custom_nav .nav_item:hover .featured_icon{
	background-color: rgba(0, 0, 0, 0.6);
}

.featured_slider_nav_row .fs_custom_nav .nav_item .ft_title{
	margin: 15px 0 0 0;
}
.featured_slider_nav_row .fs_custom_nav .nav_item .ft_title .sub{
	color: #A3D0F0;
	font-size: 18px;
	margin: 0
}
.featured_slider_nav_row .fs_custom_nav .nav_item .ft_title h2,
.featured_slider_nav_row .fs_custom_nav .nav_item .ft_title h3{
	color: #fff;
	margin: 0;
}

.featured_main_slider .smk_cs_slide{
	padding: 60px 0;
}


/* Footer slider
----------------------------------------------------*/
.smk_slider.footer_slider{
	max-width: 650px;
	margin: 10px auto;
	color: #9197A2;
}

.smk_slider.footer_slider .smk_cs_next,
.smk_slider.footer_slider .smk_cs_prev{
	position: absolute;
	display: block;
	top: 50%;
	padding: 7px 8px;
	margin-top: -9px;
	cursor: pointer;
	z-index: 10;
}
.smk_slider.footer_slider .smk_cs_next{
	right: 0;
}
.smk_slider.footer_slider .smk_cs_prev{
	left: 0;
}
.smk_slider.footer_slider .smk_cs_next span,
.smk_slider.footer_slider .smk_cs_prev span{
	display: block;
	width: 6px;
	height: 9px;
}
.smk_slider.footer_slider .smk_cs_next span{
	background: url(../images/arrows_footer.png) no-repeat 0 -9px;
}
.smk_slider.footer_slider .smk_cs_prev span{
	background: url(../images/arrows_footer.png) no-repeat 0 0;
}

.smk_slider.footer_slider .smk_cs_slides{
	margin: 0 25px;
}

.smk_slider.footer_slider .slider_tweets{
	color: #9197A2;
	text-align: center;
	padding-top: 48px;
	background: url(../images/twitter_footer_img.png) no-repeat center top;
}
.smk_slider.footer_slider .slider_tweets p{
	margin-bottom: 0;
}
.smk_slider.footer_slider .slider_tweets .tweet_date{
	font-size: 12px;
	font-style: italic;
	color: #0098E0;
}


/* 
-----------------------------------------------
Posts grid
-----------------------------------------------
*/
.posts_grid{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}
.page_content_sidebar_right .posts_grid{
	padding: 0 2% 0 0;
}
.page_content_sidebar_left .posts_grid{
	padding: 0 0 0 2%;
}
.posts_grid .post_date{
	color: #999;
	margin-top: 10px;
}
.posts_grid .meta_bottom{
	color: #999;
}
.posts_grid .post_content{
	padding-bottom: 20px;
	color: #6F7279;
}
.posts_grid .post_quote_format{
	background: url(../images/quotemark_top.png) no-repeat left top;
}
.posts_grid .post_quote_format blockquote{
	margin: 0;
	padding: 20px 0;
	background: transparent;
	font-size: 25px;
	font-style: italic;
	color: #333;
}
.posts_grid .post_quote_format cite{
	display: block;
	text-align: right;
	color: #999;
}
.posts_grid h2{
	margin-top: 2px;
	font-size: 21px;
}

.posts_grid .pg_col_1,
.posts_grid .pg_col_2,
.posts_grid .pg_col_3,
.posts_grid .pg_col_4{
	padding: 20px 2% 20px 2%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
	padding-bottom: 1000px;
	margin-bottom: -1000px;
}
.posts_grid .pg_col_2{
	width: 50%;
	border-right: 1px solid #E0E0E6;
}
.posts_grid .pg_col_2:last-of-type{
	border-right: 0;
}

.posts_grid .pg_col_3{
	width: 33.33333%;
	border-right: 1px solid #E0E0E6;
}
.posts_grid .pg_col_3:last-of-type{
	border-right: 0;
}

.posts_grid .pg_col_4{
	width: 25%;
	border-right: 1px solid #E0E0E6;
}
.posts_grid .pg_col_4:last-of-type{
	border-right: 0;
}

.posts_grid.pg_full_width .pg_col_1 img.post_thumbnail{
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	max-width: auto;
}

/*Pagination*/
.pagination {
	margin: 30px;
	margin-left: 2%;
}
.pagination a{
	margin: 2px;
}
.pagination a.active,
.pagination a:hover{
	background: #0098E0;
	border-color: #006FA3;
	color: #fff;
}
.page_content_sidebar_left .pagination {
	margin: 30px;
	margin-left: 4%;
}

/* 
-----------------------------------------------
Showcase
-----------------------------------------------
*/
.showcase_info_text{
	padding-top: 20px;
	padding-bottom: 20px;
}

.showcase_info_text .subheading{
	font-size: 17px;
}
.showcase_info_text h2.showcase_heading{
	margin: 5px 0 20px;
}
.showcase_thumbs a{
	position: relative;
	display: inline-block;
	float: left;
	margin: 5px 5px 5px 0;
}
.showcase_thumbs img{
	margin: 0;
	padding: 0;
	display: block;
}

/* 
-----------------------------------------------
FAQ
-----------------------------------------------
*/
.smk_toggle.faq_toggle_item{
	position: relative;
	margin-bottom: 0;
}
/* Head */
.smk_toggle.faq_toggle_item .smk_toggle_head{
	position: relative;
	background: #fff;
	padding: 20px 10px 20px 30px;
	border: 0;
	border-bottom: 1px solid #ccc;
	border-radius: 0;
	font-size: 14px;
	display: block;
	cursor: pointer; 
}
.smk_toggle.faq_toggle_item .smk_toggle_head h1,
.smk_toggle.faq_toggle_item .smk_toggle_head h2,
.smk_toggle.faq_toggle_item .smk_toggle_head h3,
.smk_toggle.faq_toggle_item .smk_toggle_head h4,
.smk_toggle.faq_toggle_item .smk_toggle_head p{
	margin: 0;
	padding: 0;
}
/* Content */
.smk_toggle .smk_toggle_body{
	position: relative;
	background: #fff;
	color: #7B7E85;
	padding: 15px 10px 3px;	
	border: 0;
	border-bottom: 1px solid #ccc;
	border-radius: 0;
	background-color: #F9F9F9;
}

.smk_toggle .smk_toggle_body h1:first-of-type,
.smk_toggle .smk_toggle_body h2:first-of-type,
.smk_toggle .smk_toggle_body h3:first-of-type,
.smk_toggle .smk_toggle_body h4:first-of-type,
.smk_toggle .smk_toggle_body h5:first-of-type,
.smk_toggle .smk_toggle_body h6:first-of-type
{
	margin-top: 5px;
}
.smk_toggle .smk_toggle_body p:last-of-type{
	margin-bottom: 20px;
}

/* Icon expand */
.smk_toggle .smk_toggle_head .smk_toggle_expand{
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -15px;
	background: url(../images/faq_plusminus.png) center 0 no-repeat;
}
.smk_toggle.smk_toggle_active .smk_toggle_head .smk_toggle_expand{
	background: url(../images/faq_plusminus.png) center -31px no-repeat;
}

/* JS requires */
.smk_toggle.smk_toggle_active .smk_toggle_body{ 
	display: block;
}
.smk_toggle.smk_toggle_active .smk_toggle_head{
	background: #fff;
	border-radius: 2px 2px 0 0;
}
.smk_toggle.smk_toggle_with_icon .smk_toggle_head{
	padding-left: 40px;
}


/* 
-----------------------------------------------
404
-----------------------------------------------
*/
.page404_content{
	padding: 25px;
	text-align: center;
}


/* 
-----------------------------------------------
About us page
-----------------------------------------------
*/

/* Heading
-----------------*/
.team_subheading{
	color: #999;
	font-size: 18px;
	margin: 10px 0 0 0;
}
h1.team_heading,
h2.team_heading,
h3.team_heading,
h4.team_heading
{
	margin: 0 0 20px;
}

.team_member{
	margin-top: 10px;
	margin-bottom: 25px;
}
.team_member .tm_name{
	display: block;
	background: #0098E0;
	color: #fff;
	text-align: center;
	border-radius: 3px 3px 0 0;
	margin: 0;
	padding: 10px;
}
.team_member .tm_name h2,
.team_member .tm_name h3{
	font-size: 18px;
	margin: 0;
	padding: 0;
	color: #fff;
	font-weight: 700;
}
.team_member .tm_name .status{
	text-transform: uppercase;
}

.team_member .tm_photo{
	display: block;
	margin: 0 auto;
	padding: 0;
}
.team_member .tm_social{
	margin: 0 auto;
	padding: 7px 10px 5px;
	border-bottom: 1px solid #ccc;
	text-align: center;
	background: #eee;
}
.team_member .tm_social img{
	display: inline-block;
	margin: 3px 2px 0 0;
	padding: 0;
}
.team_member .tm_quote{
	padding: 5px 8px;
	text-align: center;
	background: #eee;
	border-radius: 0 0 3px 3px;
}



/* 
-----------------------------------------------
Contact page
-----------------------------------------------
*/
.contactpage_content{
	padding: 25px 25px 25px 0;
}
.contactpage_content .contact_form .contact_input_container,
.contactpage_content .contact_form .contact_textarea_container,
.contactpage_content .contact_form input[type="text"],
.contactpage_content .contact_form textarea,
.contact_form .form_message{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.contactpage_content .contact_form input[type="text"],
.contactpage_content .contact_form textarea{
	display: block;
	width: 100%;
	margin: 0;
}
.contactpage_content .contact_form textarea{
	height: 150px;
}
.contactpage_content .contact_form .contact_input_container{
	width: 50%;
}
.contactpage_content .verification_block{
	position: relative;
	display: inline-block;
	float: left;
	width: 50%;
	margin-top: 5px;
}
.contactpage_content .c_img_verify{
	position: absolute;
	padding:  1px;
	margin-right: 5px;
	z-index: 100;
}
.contactpage_content input[type="text"].verify{
	display: block;
	width: 100%;
	padding-left: 85px;
}
.contactpage_content .contact_form .contact_input_container,
.contactpage_content .contact_form .contact_textarea_container{
	margin-bottom: 20px;
	padding: 0;
}
.contactpage_content .contact_form .button.alignright{
	margin-right: 0;
}
.widget_contact_graphic .alignleft,
.widget_contact_graphic .alignright{
	margin-bottom: 2px;
}
.contact_form .contact_field_error{
	border-color: #EE5454;
	border-radius: 3px 3px 0 0;
}
.contact_form .contact_error_message{
	position: relative;
	background-color: #EE5454;
	color: #fff;
	display: block;
	padding: 2px 7px;
	border-radius: 0 0 3px 3px;
	font-size: 11px;
}

.contact_form .form_message{
	position: relative;
	color: #fff;
	display: block;
	padding: 10px 10px 10px 40px;
	border-radius: 3px;
	margin-bottom: 15px;
	display: none;
}
.contact_form .form_message h2{
	color: #fff;
	font-size: 15px;
	padding: 0;
	margin: 0;
}
.contact_form .form_message.form_loading{
	background-color: #ccc;
	border: 1px solid #aaa;
	color: #333;
	font-size: 15px;
}
.contact_form .form_message.form_error{
	background: url(../images/contact_cross.png) no-repeat 10px 8px #EE5454;
	border: 1px solid #CA3433;
}
.contact_form .form_message.form_success{
	background: url(../images/contact_ok.png) no-repeat 10px 8px #94AF1D;
	border: 1px solid #829A19;
}
.contact_form .loader{
	display: block;
	position: absolute;
	left: 7px;
	top: 50%;
	margin-top: -12px;
	width: 24px;
	height: 24px;
	background: url(../images/ajax-loader.gif) no-repeat center center;
}

/* 
-----------------------------------------------
Single Post
-----------------------------------------------
*/
.page_content_sidebar_right .page_section{
	padding: 0 3% 0 0;
}
.page_content_sidebar_left .page_section{
	padding: 0 0 0 3%;
}

.page_section .author_bio{
	position: relative;
	padding-left: 120px;
	padding-top: 25px;
	padding-bottom: 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.page_section .author_bio p{
	color: #7B7E85;
}
.page_section .author_bio_img{
	position: absolute;
	top: 40px;
	left: 0;
}

.single_post_full_width{
	margin-top: 30px;
}

/* 
-----------------------------------------------
Comments Section
-----------------------------------------------
*/
.comments_section{
	padding-top: 25px;
	padding-bottom: 25px;
}

.comments_section h3.comm_sect_title{
	padding-bottom: 25px;
}

.post_comments,
.post_comments .comment{
	list-style: none;
	margin: 0;
	padding: 0;
}

.post_comments .comment{
	position: relative;
	padding-left: 90px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.post_comments .comment img.avatar{
	position: absolute;
	left: 0;
	border-radius: 50%;
}
.post_comments .comment .content{
	position: relative;
	color: #7B7E85;
	background: #fff;
	min-height: 70px;
	padding: 10px 15px;
	margin-bottom: 30px;
	border: 1px solid #ccc;
	border-radius: 3px;
}
.post_comments .comment .comment .content{
	background: #F5F5F5;
}
.post_comments .comment .content p{
	margin-bottom: 10px;
}
.post_comments .comment .content p:last-of-type{
	margin-bottom: 0;
}
.post_comments .comment .author,
.post_comments .comment .author a{
	color: #333;
	font-size: 14px;
	margin-bottom: 5px;
}
.post_comments .comment .author a:hover{
	color: #0098E0;
}
.post_comments .comment .author span{
	color: #999;
}

.post_comments .comment .content:before{
	content: "";
	position: absolute;
	top: 28px;
	left: -15px;
	display: block;
	width: 16px;
	height: 19px;
	background: url(../images/tail_quote2.png) no-repeat 0 -19px;
}
.post_comments .comment .comment .content:before{
	background: url(../images/tail_quote2.png) no-repeat 0 0;
}

/* Comment form
-----------------------------------*/
.comment-form textarea,
.comment-form .comment-form-author,
.comment-form .comment-form-email,
.comment-form .comment-form-url,
.comment-form .comment-form-author input,
.comment-form .comment-form-email input,
.comment-form .comment-form-url input
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.comment-respond{
	display: block;
	margin: 30px 0 50px;
	clear: both;
}
.comment-respond h3.comment-reply-title{
	display: block;
	margin: 0 0 20px;
	clear: both;
}
.comment-form{
	position: relative;
	padding-left: 90px;
}
.comment-form label{
	display: block;
}
.comment-form p{
	margin-bottom: 10px;
}
.comment-form textarea{
	display: block;
	width: 100%;
	height: 100px;
}
.comment-form .comment-form-author,
.comment-form .comment-form-email,
.comment-form .comment-form-url{
	display: inline-block;
	float: left;
	width: 34%;
	padding: 0 2% 0 0;
}
.comment-form .comment-form-url{
	width: 32%;
	padding: 0;
}
.comment-form .comment-form-author input,
.comment-form .comment-form-email input,
.comment-form .comment-form-url input{
	display: block;
	width: 100%;
}
.comment-form .required{
	color: red;
}
.comment-form .comment-form-comment{
	position: relative;
	display: block;
	clear: both;
}

.comment-form .comment-form-avatar{
	position: absolute;
	left: -90px;
	top: 0;
}
.comment-form .comment-form-comment label{
	display: none;
}
.comment-form .form-allowed-tags{
	font-size: 11px;
	display: none;
}

.comment-form .comment-form-author input,
.comment-form .comment-form-email input,
.comment-form .comment-form-url input,
.comment-form textarea{
	border: 1px solid #ccc;
}

.comment-form .comment-form-comment:before{
	content: "";
	position: absolute;
	top: 28px;
	left: -14px;
	display: block;
	width: 16px;
	height: 19px;
	background: url(../images/tail_quote2.png) no-repeat 0 -19px;
	z-index: 100;
}


/* 
-----------------------------------------------
Zoom overlay
-----------------------------------------------
*/
.zoom_overlay{
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 300;
	opacity: 0;
	background: url(../images/zoom.png) no-repeat center center #0098E0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.zoom_overlay:hover{
	opacity: .75;
}

/* 
-----------------------------------------------
Portfolio
-----------------------------------------------
*/
.portfolio_grid .grid_border .post_image{
	position: relative;
	margin: 20px 10px;
}
.portfolio_grid .grid_border .post_image img{
	display: block;
	margin: 0 auto;
}