extends ../../layouts/default
block title
	h1=event.title
block content
	.container_12.padding_tb_50.clearfix
		.row_inner.clearfix
			.grid_12
				div!=event.content				
				img(src=event._.cover.fit(600))
	h3 Datos de contacto
	ul.list_map
		li
			strong Dirección
			br
			| #{event.location.state}
			br
			| #{event.location.street1}, #{event.location.postcode}
			br
			| #{event.location.country}
	section.container_row.clearfix
		iframe(width='100%', height='350', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Soho+Square,+London,+United+Kingdom&aq=1&oq=soho+square&sll=39.845449,-104.918447&sspn=0.019209,0.039568&ie=UTF8&hq=&hnear=Soho+Square,+London,+United+Kingdom&t=m&z=14&iwloc=A&output=embed')


