extends ../../layouts/session

//- block intro
	.page-header
		h1 Forgotten your password?
		p.lead No problem, we'll send you a link to reset it.

block content
	form(method='post', novalidate).forgot-password
		input(type='hidden', name='action', value='send-password')
		p.signin-form-heading Reset your password
		.form-group
			label.sr-only Email
			input(type='email', name='email', placeholder='Email').form-control
		button(type='submit').btn.btn-block.btn-submit Reset
	p.text-center
		a(href='/signin').btn.btn-link Sign in

block js
	script.
		var $form = $('.forgot-password');
		
		var $submit = $form.find('.btn-submit');
		
		$submit.click( function() {
			$submit.addClass( 'disabled' );
		});
		
		$form.find("input[type!='hidden']").first().focus();
