extends ../../layouts/default

block title
	h1 Eventos

block content
	.container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
		article.full-post
			if !link
				h2 Invalid Link.
			else
				header
					h1.mb-0= link.label
					h4.blog-post__author Shared
						if link.publishedDate
							|  on #{moment(link.publishedDate).format('MMMM D, YYYY')}
						if link.author
							|   &middot; by&nbsp;
							a(href='/members', rel='author')=link.author.name.full
					//- sharing buttons
					.share-buttons
						span.share-button
							.fb-like(data-href="http://www.sydjs.com/blog/link/" + link.slug, data-colorscheme="light", data-layout="button_count", data-action="like", data-show-faces="false", data-send="false")
						span.share-button
							a(href="https://twitter.com/share", data-via="SydJS", data-hashtags="sydjs", data-count="button", data-dnt="true").twitter-share-button Tweet
						span.share-button
							.g-plusone(data-size="medium")
				.link
					h3: a(href=link.href, target='_blank'): em!=link.href
				.post
					!= link.label
				hr

				.comments
					h4=link.comments.length == 0 ? 'Be the first to reply' : plural(link.comments.length, '* comment', '* comments')
					.comment.mt-1
						for comment in link.comments
							if comment.author
								.media
									.pull-left
										img(src=comment.author.photo.exists ? comment.author._.photo.thumbnail(60,60) : '/images/placeholders/user-60x60.jpg', alt=comment.author.name.full, width=40, height=40).media-object.img-circle
									.media-body
										h5.mt-0
											=comment.author.name.full
											span.text-muted  &middot; #{moment(comment.publishedOn).fromNow()}
										!=comment.content.html
				if user
					//- Reply form
					form(method='post').comment-form.mt-5
						input(type='hidden', name='action', value='create-comment')
						.media
							.pull-left
								img(src=user.photo.exists ? user._.photo.thumbnail(60,60) : '/images/placeholders/user-60x60.jpg', alt=user.name.full, width=40, height=40).img-responsive.img-circle
							.media-body
								textarea(placeholder='Add your comment...', name='content').form-control
								.form-inline.mv-5
									button(type='submit').btn.btn-success Submit



block js
	script(src='/js/common/share.js')
	script(src="https://apis.google.com/js/plusone.js")
