extends ../../layouts/default

block title
	h1 Links

block content
	.container
		if links.length
			each link in links
				.row
					.col-md-8
						h2.mt-0= link.title
						a(href=link.url, target='_blank')= link.url

				hr.line-thick