extends ../../layouts/default

block title
	h1 Revistas
block content
	.portfolio_grid
		if magazines.length
			each magazine in magazines
				.grid_6.grid_border.grid_border_l0
					.post_image
						img(src=magazine._.cover.fit(400,300), alt='')
					.textcenter
						h3=magazine.title
						if magazine.content
							div!= magazine.content
						p
							a(href=magazine.file.url) Descargar