extends ../../layouts/default
include ../../mixins/meetup

block title
	h1 Eventos

block content
	.container_12.clearfix
		each meetup in events.upcoming
				+meetup(meetup, 'present')
				
		each meetup in events.past
				+meetup(meetup, 'past')
