extends ../../layouts/default

block intro
	.page-intro: .container
		h1 Members
		p The people and organisations who are part of SydJS. Should you be here? Join us!
		.buttons
			if !user
				a(href='/join').btn.btn-primary Join SydJS
			a(href='/members/organisations').btn.btn-default View Organisations
			a(href='/members/mentors').btn.btn-default View Mentors

block content
	.container

		if members.length
			ul#members.list-unstyled.members-list
				each member in members
					li.item
						.member
							if member.photo.exists
								.mug-shot
									//- img(src=member.photo.exists ? member._.photo.thumbnail(120,120):'/images/placeholders/user-120x120.jpg').img-circle
									img(src=member._.photo.thumbnail(120,120)).img-circle
							.info
								.title.text-center
									h4= member.name.full
									if member.facebook || member.twitter || member.github
										p.mv-0.socials
											if member.facebook
												a(href='https://facebook.com/' + member.facebook, target='_blank', data-toggle='tooltip', data-title=member.facebook, data-placement='top').is-tooltip
													span.entypo-social.entypo-facebook
													//-| @#{member.facebook.replace('@', '')}
											if member.twitter
												a(href='https://twitter.com/' + member.twitter.replace('@', ''), target='_blank', data-toggle='tooltip', data-title='@' + member.twitter.replace('@', ''), data-placement='top').is-tooltip
													span.entypo-social.entypo-twitter
													//-| @#{member.twitter.replace('@', '')}
											if member.github
												a(href='https://github.com/' + member.github, target='_blank', data-toggle='tooltip', data-title=member.github, data-placement='top').is-tooltip
													span.entypo-social.entypo-github
													//-| @#{member.github.replace('@', '')}
								if member.bio.html
									.bio.mt-1.text-center!= member.bio.html
							if member.talks && member.talks.length
								.talks
									h6.text-muted.mt-0 Talks
									ul.list-unstyled
										each talk in member.talks
											li.media(class=moment(talk.meetup.date) < moment(now) ? 'past' : 'present')
												.pull-left
													.date
														small.block=moment(talk.meetup.date).format('MMM')
														strong.block=moment(talk.meetup.date).format('DD')
												.media-body
													p=talk.name
							if member.posts && member.posts.length
								.posts
									h6.text-muted.mt-0 Post
									ul.list-unstyled
										each post in member.posts
											li
												.text-danger
													=moment(post.publishedDate).fromNow()
												p: a(href='/blog/post/' + post.slug)=post.title
		else
			h3.text-muted There are no members yet.

block js
	script(src='/js/lib/bootstrap/transition.js')
	script(src='/js/lib/bootstrap/tooltip.js')
	script(src="/js/lib/masonry/masonry.pkgd.min.js")
	script.
		jQuery(function($) {
			$( '#members' ).masonry( { itemSelector: '.item' } );
			$('.is-tooltip').tooltip();
		});
