extends ../../layouts/default

block title
	h1 Patrocinadores
block content
	if sponsors.length
		each sponsor in sponsors
			.grid_12.clearfix.padding_t_40
				img.alignleft.padding_t_10(src=sponsor._.logo.limit(175,175), alt=sponsor.name)
				a(href=sponsor.url, target='_blank')
					h3=sponsor.name
			.clear