extends ../../layouts/default
block content
	.row_inner.posts_grid.clearfix
		.pg_col_1
			.post_date=post._.publishedDate.format('MMMM D, YYYY')
			h2
				a(href='#')=post.title

			if post.image.exists
				img.post_thumbnail(src=post.image.url, alt=post.title)
				
			.post_content
				p!=post.content.brief
				p!=post.content.full
	if post.author
		.row_inner.page_section.clearfix
			.grid_12
				.author_bio
					img.img_circle.author_bio_img(src='images/assets/100x100.png', alt='')
					h3
						| Acerca del autor -
					a(href='#')=post.author.name.full
					.post_content
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
