extends ../../layouts/session

mixin social-signin()
	p.signin-form-heading Use a social account
	.social-signup-buttons
			
		.signup-button: a(href='/authentication/github', title='Sign in with Github').btn.btn-github.btn-block
			span.entypo-social.entypo-github
			span.signup-button__text  Github
			
		.signup-button: a(href='/authentication/twitter', title='Sign in with Twitter').btn.btn-twitter.btn-block
			span.entypo-social.entypo-twitter
			span.signup-button__text  Twitter
		
		.signup-button: a(href='/authentication/facebook', title='Sign in with Facebook').btn.btn-facebook.btn-block
			span.entypo-social.entypo-s-facebook
			span.signup-button__text  Facebook
		
	p.signin-form-heading or your email

block content
	form(method='post',role='signin', style=(form.action && form.action != 'signin' ? 'display: none;' : null), novalidate).signin-form
		input(type='hidden', name='action', value='signin')
		
		+social-signin
		
		.form-control-box
			label(for='signin-email').sr-only Email
			input(type='email', name='signin_email', placeholder='Email', id='signin-email', value=signin_email).form-control
			label(for='signin-password').sr-only Password
			input(type='password', name='signin_password', placeholder='Password', id='signin-password', value='').form-control
		button(type='submit').btn.btn-block.btn-submit Sign in
	
	form(method='post',role='join', style=(form.action != 'join' ? 'display: none;' : null), novalidate).join-form
		input(type='hidden', name='action', value='join')
		
		+social-signin
		
		.form-control-box
			label(for='join-name').sr-only Email
			input(type='text', name='join_name', placeholder='Name', id='join-name', value=form.join_name).form-control
			label(for='join-email').sr-only Email
			input(type='email', name='join_email', placeholder='Email', id='join-email', value=form.join_email).form-control
			label(for='join-password').sr-only Password
			input(type='password', name='join_password', placeholder='Password', id='join-password', value='').form-control
			label(for='join-passwordConfirm').sr-only Confirm Password
			input(type='password', name='join_passwordConfirm', placeholder='Confirm Password', id='signin-passwordConfirm', value='').form-control
			label(for='join-twitter').sr-only Twitter
			input(type='text', name='join_twitter', placeholder='Twitter', id='signin-twitter', value=form.join_twitter).form-control
		button(type='submit').btn.btn-block.btn-submit Join SydJS
	
	p.text-center
		a(href=js).btn.btn-block.btn-link.js-toggle-join Join SydJS
		a(href=js, style='display: none;').btn.btn-block.btn-link.js-toggle-signin Sign In

	p.text-center
		a(href='/forgot-password') Forgot your password?

block js
	script.
		var $form = $('.signin-form');
		var $submit = $form.find("[type='submit']");
		
		$submit.click( function() {
			$submit.addClass( 'disabled' );
		});
		
		$form.find("input[type!='hidden']").first().focus();
		
		$('.js-toggle-join').click( function() {
			$('.join-form').show();
			//- $('.join-form').show().find("input[type!='hidden']").first().focus();
			$('.signin-form').hide();
			$('.js-toggle-signin').show();
			$('.js-toggle-join').hide();
		});
		
		$('.js-toggle-signin').click( function() {
			$('.signin-form').show();
			//- $('.signin-form').show().find("input[type!='hidden']").first().focus();
			$('.join-form').hide();
			$('.js-toggle-join').show();
			$('.js-toggle-signin').hide();
		});
